.ektron-ui-contextMenuTree ul
{
    position: absolute;
    z-index: 9999;
    background-color: #f7f7f7;
    border: 1px solid #bfbfbf;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#ededed');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#ededed')";
    background-image: -moz-linear-gradient(top, #f7f7f7, #ededed);
    background-image: -ms-linear-gradient(top, #f7f7f7, #ededed);
    background-image: -o-linear-gradient(top, #f7f7f7, #ededed);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#ededed));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #ededed);
    background-image: linear-gradient(top, #f7f7f7, #ededed);
    -moz-box-shadow: 3px 3px 5px #cacaca;
    -webkit-box-shadow: 3px 3px 5px #cacaca;
    box-shadow: 3px 3px 5px #cacaca;
    filter: progid: DXImageTransform.Microsoft.Shadow(strength = 3, direction = 135, color = '#cacaca');
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 135, Color = '#cacaca')";
    width: 146px;
}

.ektron-ui-tree-contextMenu
{
    position: relative;
}

.ektron-ui-tree-contextMenu ul
{
    position: absolute;
    z-index: 9999;
    left: 82%;
    top: 20px;
}

.ektron-ui-tree-contextMenu:first-child
{
    margin-top: 15px;
}

.ektron-ui-tree-contextMenu:last-child
{
    margin-bottom: 20px;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-leaf > .hitLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible > .hitLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.expandable > .hitLocation
{
    display: block;
    padding: 0;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-leaf > .hitLocation > .selectionLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible > .hitLocation > .selectionLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.expandable > .hitLocation > .selectionLocation
{
    padding: 3px 20px;
}
.ektron-ui-tree-contextMenu.selected > .hitLocation > .selectionLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-leaf .hitLocation:hover > .selectionLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch .hitLocation:hover > .selectionLocation
{
    background-color: #448ccf;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#54bbf8', endColorstr = '#3767af');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#54bbf8', endColorstr = '#3767af')";
    background-image: -moz-linear-gradient(top, #54bbf8, #3767af);
    background-image: -ms-linear-gradient(top, #54bbf8, #3767af);
    background-image: -o-linear-gradient(top, #54bbf8, #3767af);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#54bbf8), to(#3767af));
    background-image: -webkit-linear-gradient(top, #54bbf8, #3767af);
    background-image: linear-gradient(top, #54bbf8, #3767af);
}

.ektron-ui-tree-contextMenu.selected > .hitLocation > .selectionLocation > .textWrapper
{
    background: none;
    border: 1px solid transparent;
}

.ektron-ui-tree-contextMenu.selected > .hitLocation > .selectionLocation > .textWrapper, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-leaf > .hitLocation:hover > .selectionLocation > .textWrapper, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch > .hitLocation:hover > .selectionLocation > .textWrapper
{
    color: #ffffff;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible > .hitLocation, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.expandable > .hitLocation
{
    background: none;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-leaf span.ui-icon
{
    display: none;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.expandable span.ui-icon
{
    background-image: url(../../../../../images/icons/arrowExpandable.png); /*Expandable Black Arrow Icon*/
    background-position: 0;
    cursor: pointer;
    float: right;
    position: relative;
    right: -15px;
    top: 2px;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible span.ui-icon
{
    background-image: url(../../../../../images/icons/arrowCollapsible.png); /*Collapsible Black Arrow Icon*/
    background-position: 0;
    cursor: pointer;
    float: right;
    position: relative;
    right: -15px;
    top: 2px;
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.expandable .selectionLocation:hover span.ui-icon, 
.ektron-ui-tree-contextMenu.selected .hitLocation .selectionLocation span.ui-icon
{
    background-image: url(../../../../../images/icons/arrowExpandableWhite.png); /*Expandable White Arrow Icon*/
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible .selectionLocation:hover span.ui-icon, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.collapsible.selected .hitLocation > .selectionLocation > span.ui-icon
{
    background-image: url(../../../../../images/icons/arrowCollapsibleWhite.png); /*Collapsible White Arrow Icon*/
}

.ektron-ui-tree.ektron-ui-contextMenuTree li.ektron-ui-tree-branch > .hitLocation, 
.ektron-ui-tree.ektron-ui-contextMenuTree li.ektron-ui-tree-leaf > .hitLocation
{
    padding-left: 0;
}

.ektron-ui-tree.ektron-ui-contextMenuTree ul li > ul {
    padding-left: 0;
}

.ektron-ui-tree.ektron-ui-contextMenuTree li.ektron-ui-tree-branch > .hitLocation, 
.ektron-ui-tree.ektron-ui-contextMenuTree li.ektron-ui-tree-leaf > .hitLocation
{
    display:block;    
}

.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading .selectionLocation:hover span.ui-icon, 
.ektron-ui-tree-contextMenu.loading .hitLocation .selectionLocation span.ui-icon,
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading .selectionLocation span.ui-icon, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading.selected .hitLocation > .selectionLocation > span.ui-icon
{
    background-image: url(../../../../../images/rotatingArrowsBlack.png)
}
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading:hover .selectionLocation:hover span.ui-icon, 
.ektron-ui-tree-contextMenu.loading:hover .hitLocation .selectionLocation span.ui-icon,
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading:hover .selectionLocation span.ui-icon, 
.ektron-ui-tree-contextMenu.ektron-ui-tree-branch.loading.selected:hover .hitLocation > .selectionLocation > span.ui-icon
{
    background-image: url(../../../../../images/rotatingArrowsWhite.png)
}

