.alignleft {
	width: 100%;
}

.alignright {
	width: 100%;
}

.alignnone {
	width: 100%;
}

.small {
	font-size: 11px;
	line-height: normal;
}

.compare-table {
	width: 100%;
}

.btn {
	display: inline-block;
}