﻿.ektron-ui-control.ektron-ui-tooltip { display: inline-table; vertical-align: text-top; }
.ektron-ui-control.ektron-ui-tooltip .ui-icon-info { padding-right: 5px; }
.ektron-ui-control.ektron-ui-tooltip > .ektron-ui-sprite {float: left; margin-top: .1em; background-image: url('../../../images/sprites/interactionCues.png');}
.ektron-ui-control.ektron-ui-tooltip.ektron-ui-information {background: #d5edf8; border: 2px solid #92cae4; color: #205791; margin-bottom: 1.5em; padding: 0.5em;}

/* Sprites
----------------------------------*/
.ektron-ui-control.ektron-ui-tooltip .ektron-ui-sprite.ektron-ui-sprite-information {background-position: 0 -72px;} 