﻿.ui-dialog .ui-dialog-titlebar-help 
{
    height: 18px;
    margin: -9px 0 0 0;
    padding: 1px;
    position: absolute;
    right: 1.3em;
    top: 50%;
    width: 17px;
    text-decoration:none;
    overflow:hidden;
}
.ui-dialog .ui-dialog-titlebar-help:hover {padding:0;}
.ui-dialog .ui-dialog-titlebar-help span 
{
    background-position:center center;
    background-image: url('../../../images/silk/icons/help.png');
    background-repeat:no-repeat;
    text-indent:-9999px;
    height:16px;
    width:16px;
    display:inline-block;
}
