﻿div.ektron-ui-content-list{margin:.5em;}
div.ektron-ui-content-list h3{text-decoration:underline;margin-bottom:.25em;}
div.ektron-ui-content-list h5{margin-bottom:.5em;}
div.ektron-ui-content-list div.ektron-ui-content-summary{}
div.ektron-ui-content-list ul{list-style-type:none; margin:0;}
div.ektron-ui-content-list ul li{margin:0;}