﻿.ektron.userSelector ul.users
{
    margin: 0;
    padding: 0;
}

.ektron.userSelector ul.users li.user
{
    list-style: none;
    display: block;
    line-height: 16px;
    padding-left: 22px;
    background-image: url(images/delete.PNG);
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 4px;
    cursor: pointer;
}

.ektron.userSelector .usernameWrapper
{
    display: block;
    line-height: 16px;
    padding-left: 22px;
    background-image: url(images/add.PNG);
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}

.userDialog
{
    text-align: center;
}

.userDialog ul.users
{
    text-align: left;
    margin: 0;
    padding: 0;
}

.userDialog ul.users li.user
{
    list-style: none;
    display: block;
    line-height: 16px;
    padding-left: 22px;
    background-image: url(images/bulletGreen.PNG);
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 4px;
    cursor: pointer;
}

.userDialog .paging
{
    margin: 0 auto;
}

.userDialog .currentPage
{
    width: 2em;
}

.userDialog .nextPage, .userDialog .previousPage, .userDialog .go, .userDialog .firstPage, .userDialog .lastPage
{
    cursor: pointer;
}

.userDialog .icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: none;
}

.userDialog .nextPage
{
    background-image: url('../../../images/UI/Icons/arrowHeadRight.png');
}

.userDialog .previousPage
{
    background-image: url('../../../images/UI/Icons/arrowHeadLeft.png');
}

.userDialog .firstPage
{
    background-image: url('../../../images/UI/Icons/arrowHeadFirst.png');
}

.userDialog .lastPage
{
    background-image: url('../../../images/UI/Icons/arrowHeadLast.png');
}

.userDialog .go
{
    background-image: url('../../../images/UI/Icons/forward.png');
}