﻿.modal-backdrop
{
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 999;
}

.modal
{
    width: 500px;
    position: fixed;
    top: 25%;
    z-index: 1020;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
}

.modal-header
{
    background-color: #333;
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .modal-header h3
    {
        margin: 0;
        padding: 0 10px 0 10px;
        line-height: 40px;
        color: floralwhite;
        border: none !important;
    }

        .modal-header h3 .close-modal
        {
            float: right;
            text-decoration: none;
            color: #FFF;
        }

.modal-footer
{
    background-color: #F1F1F1;
    padding: 0 10px 0 10px;
    line-height: 40px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 1px #CCC;
}

.modal-body
{
    padding: 0 10px 0 10px;
}

.modal-footer #btn_close
{
    background-color: #003554;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin: 1%;
    padding: 0.5% 1.5%;
    text-decoration: none;
}

.modal-footer .close-modal
{
    background-color: #ccc;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.5% 1.5%;
    text-decoration: none;
}

    .modal-footer .close-modal:hover
    {
        background-color: #95a3ab;
    }

.modal-footer #btn_close:hover
{
    background-color: #95a3ab;
}

.up_item INPUT
{
    /*float: left;
    padding: 4px 2%;
    width: 23%;*/
    float: left;
    margin-right: 2%;
    padding: 4px 2%;
    width: 44%;

}

.avataruploadAllign
{
    vertical-align: inherit;
}

.editAcc
{
    width: 80%;
}

.innerBefore
{
    background-color: #f7f7f7;
    padding: 13px;
    margin-bottom: 2%;
}

.up_item img
{
    /*float: left;
    margin-bottom: 20px;
    max-width: 30%;
    width: 30%;*/
    float: left;
    margin-bottom: 20px;
    margin-right: 4%;
    max-width: 28%;
    width: 28%;
}

.pos_item
{
    width: 33%;
}

.ph_item
{
    float: left;
    width: 33%;
}

.email_item
{
    float: left;
    width: 33%;
    margin-left: 30px;
}

.up_item span
{
    margin-top: 5px;
}

.editAcc strong
{
    color: #003554;
}

.save_item
{
    float: left;
    width: 100%;
}

.up_item .avatarupload-item
{
    float: left;
    margin-top: 11%;
    width: 68%;
    /*float: right;*/
    /*padding: 85px 30% 0 0;*/
}

.market-columnone
{
}

.market-columntwo
{
    float: right;
    padding: 0 17%;
}

.product-columnone
{
}

.product-columntwo
{
    float: right;
    padding: 0 17%;
}

.promoItems-outer select {
    float: left;
    width: 100%;
}


.promoItems-outer {
    background-color: #f3f3f3;
    float: left;
    margin-right: 2.8%;
    padding: 1.5%;
    width: 27.5%;
    margin-bottom: 2.8%;
}

.promoItems-outer p{text-align:left;}

img#promoImg {
    background-color: #fff;
    height: 165px;
    padding: 3%; 
    margin: auto;   
}
.promoImage {
    background-color: #fff;
}

.one-third-row {
    max-height: 875px;
    overflow: auto;
    width: 100%;
}

p.txt_lft {
    text-align: left;
}


.one-fourth.promoAcc {
     background-color: #f3f3f3;
    padding: 1.5%;
    width: 94%;
}

.promo_first_item {
    float: left;
    /*margin-bottom: 2%;*/
    width: 48%;
}


.promo_last_item {
    float: left;
    /*margin-bottom: 2%;*/
    margin-left: 1.5%;
    margin-top: 0 !important;
    width: 50%;
}


.promo_company {
    float: left;
    /*margin-bottom: 2%;*/
    width: 48%;
}

.promo_email_item {
    float: left;
    margin-left: 1.5%;
    width: 50%;
}

.promo_shipping {
    float: left;
    width: 100%;
}

.promo_add1 {
    float: left;
    width: 48%;
}


.promo_add2 {
    float: left;
    margin-left: 1.5%;
    width: 50%;
}

.promo_city {
    float: left;
    margin-bottom: 2%;
    width: 48%;
}

.promo_region {
    float: left;
    margin-bottom: 2%;
    margin-left: 1.5%;
    width: 50%;
}

.promo_state {
    float: left;
    margin-bottom: 2%;
   width: 48%;
}

.promo_postcode {
    float: left;
    margin-bottom: 2%;
    margin-left: 1.5%;
    width: 50%;
}
.promo_contact {
    float: left;
    margin-bottom: 2%;
    width: 48%;
}
.promo_des {
    float: left;
    width: 100%;
}
.promo_save_item {
    float: right;
    margin-top: 2%;
}

.promo_shipping_title
{
    color: #003554;
    font-size: 18px;
    padding: 1% 0;
    text-align: left;
}

.promoAcc .form-item INPUT[type="text"], .promoAcc .form-item INPUT[type="email"], .promoAcc .form-item TEXTAREA {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #ccc inset;
    padding: 7px 2%;
    width: 95%;
}

.promoAcc .form-item + .form-item {
    margin-top: 0;
}

.promoAcc .form-item INPUT[type="submit"] {

    padding: 7px 15px;
    width: inherit;
}

.promoTitle
{
     color: #003554;
    font-size: 20px;
    padding: 1% 0;
    text-align: left;
}

.promo_imgTitle
{
    color: #003554;
}


.one-fourth.promoAcc p {
    margin-left: 1px;
    text-align: left;
}

.promo-onethird-row
{
   
    margin-bottom: 2%;
    }
    
.trade_fname
{
    width: 49% !important;
}
.trade_lname
{
    margin-left: 1% !important;
    width: 50% !important;
}

.trade_company
{
    width: 49%;
}
.trade_email
{
        margin-left: 1%;
    width: 50%;
}
.trade_shipping
{
    margin-left: 1%;
    width: 50%;
}
.trade_contact
{
    margin-bottom: 2%;
    width: 49%;
}
.trade_add1
{
 width: 49%;
}
.omega-left
{
    float:left;
     padding: 0 11%;
}
.my-accimg
{
    padding-top: 5px;
    height: 135px;
    max-height: 135px;
    max-width: 180px
}

.myacc_textalign
{
    text-align: right;
}

.title_welcome
{
    margin: 20px 0;
}
@media screen and (max-width: 826px)
{
.omega-left
{
    
     padding: 0 0;
}
}
@media screen and (max-width: 777px)
{
.omega-left
{
    
     float:none;
}
}
@media screen and (max-width: 835px){
         img#promoImg
    {
        background-color: #fff;
        height: 145px;
    }

         }

@media screen and (max-width: 768px)
{
        img#promoImg
    {
        background-color: #fff;
        height: 145px;
    }
}

@media screen and (max-width: 767px)
{
    .modal
    {
        width: 95%;
    }

    .form-item.up_item
    {
        float: left;
        width: 100%;
    }

    .ph_item
    {
        width: 45%;
    }

    .email_item
    {
        width: 45%;
    }

    .pos_item
    {
        width: 45%;
    }

    .editAcc
    {
        width: 100%;
    }

    .up_item INPUT
    {
        width: 165px;
    }

    .promoItems-outer { 
    margin-right: 0;
    width: 96%;
}

          img#promoImg
    {
        background-color: #fff;
        height: 145px;
    }

}


@media screen and (max-width: 360px)
{
    .pos_item
    {
        width: 100%;
    }

    .ph_item
    {
        width: 100%;
    }

    .email_item
    {
        width: 100%;
        margin-left: 0;
    }

    .up_item INPUT
    {
        width: 170px;
    }
}

@media screen and (max-width: 447px)
{
    .avataruploadAllign
    {
        float: left;
    }
}
