﻿/* Icon Font: fontcustom */
@font-face {
  font-family: "fontcustom";
  src: url("/library/fontcustom/fontcustom.eot");
  src: url("/library/fontcustom/fontcustom.eot?#iefix") format("embedded-opentype"), url("/library/fontcustom/fontcustom.woff") format("woff"), url("/library/fontcustom/fontcustom.ttf") format("truetype"), url("/library/fontcustom/fontcustom.svg?#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
}


[data-icon]:before,
.icon-case-studies:before,
.icon-contact-us:before,
.icon-downloads:before,
.icon-faqs:before,
.icon-featured-products:before,
.icon-flat-panel-display:before,
.icon-industrial-vacuum:before,
.icon-knowledge-and-document-centre:before,
.icon-led:before,
.icon-manuals:before,
.icon-our-locations:before,
.icon-photovoltaic:before,
.icon-power:before,
.icon-process-industries:before,
.icon-r-and-d:before,
.icon-scientific-instruments:before,
.icon-semiconductor-processing:before,
.icon-service:before,
.icon-steel-degassing:before,
.icon-tech-specs:before,
.icon-video-tutorials:before,
.icon-webshop:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 5;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-case-studies:before {
  content: "\f101";
}

.icon-contact-us:before {
  content: "\f102";
}

.icon-downloads:before {
  content: "\f103";
}

.icon-faqs:before {
  content: "\f104";
}

.icon-featured-products:before {
  content: "\f105";
}

.icon-flat-panel-display:before {
  content: "\f106";
}

.icon-industrial-vacuum:before {
  content: "\f107";
}

.icon-knowledge-and-document-centre:before {
  content: "\f108";
}

.icon-led:before {
  content: "\f109";
}

.icon-manuals:before {
  content: "\f10a";
}

.icon-our-locations:before {
  content: "\f10b";
}

.icon-photovoltaic:before {
  content: "\f10c";
}

.icon-power:before {
  content: "\f10d";
}

.icon-process-industries:before {
  content: "\f10e";
}

.icon-r-and-d:before {
  content: "\f10f";
}

.icon-scientific-instruments:before {
  content: "\f110";
}

.icon-semiconductor-processing:before {
  content: "\f111";
}

.icon-service:before {
  content: "\f112";
}

.icon-steel-degassing:before {
  content: "\f113";
}

.icon-tech-specs:before {
  content: "\f114";
}

.icon-video-tutorials:before {
  content: "\f115";
}

.icon-webshop:before {
  content: "\f116";
  color: #f15a22;
}

.icon-row {
    font-size: 38px;
}

.icon {
  position: relative;
  display: inline-block;
  background-color: #49176d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  top: 3px;
  margin-left: 5px;
}
.icon:after {
  position: absolute;
  top: 3px;
  left: 6px;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 6px;
  border-color: transparent transparent transparent white;
}

table.IconChart td {
  text-align: center;
  vertical-align: middle;
}

.header {
    font: bold 36px verdana;
}
