﻿.modal-backdrop
{
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 999;
}

.modal
{
    width: 500px;
    position: fixed;
    top: 25%;
    z-index: 1020;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
}

.modal-header
{
    background-color: #333;
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .modal-header h3
    {
        margin: 0;
        padding: 0 10px 0 10px;
        line-height: 40px;
        color: floralwhite;
        border: none !important;
    }

        .modal-header h3 .close-modal
        {
            float: right;
            text-decoration: none;
            color: #FFF;
        }

.modal-footer
{
    background-color: #F1F1F1;
    padding: 0 10px 0 10px;
    line-height: 40px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 1px #CCC;
}

.modal-body
{
    padding: 0 10px 0 10px;
}

.modal-footer #btn_close
{
    background-color: #003554;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin: 1%;
    padding: 0.5% 1.5%;
    text-decoration: none;
}

.modal-footer .close-modal
{
    background-color: #ccc;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.5% 1.5%;
    text-decoration: none;
}

    .modal-footer .close-modal:hover
    {
        background-color: #95a3ab;
    }

.modal-footer #btn_close:hover
{
    background-color: #95a3ab;
}

.up_item INPUT
{
    /*float: left;
    padding: 4px 2%;
    width: 23%;*/
    float: left;
    margin-right: 2%;
    padding: 4px 2%;
    width: 40%;
}

.avataruploadAllign
{
    vertical-align: inherit;
}

.editAcc
{
    width: 80%;
}

.innerBefore
{
    background-color: #f7f7f7;
    padding: 13px;
}

.up_item img
{
    /*float: left;
    margin-bottom: 20px;
    max-width: 30%;
    width: 30%;*/
    float: left;
    margin-bottom: 20px;
    margin-right: 4%;
    max-width: 28%;
    width: 28%;
}

.pos_item
{
    width: 33%;
}

.ph_item
{
    float: left;
    width: 33%;
}

.email_item
{
    float: left;
    width: 33%;
    margin-left: 30px;
}

.up_item span
{
    margin-top: 5px;
}

.editAcc strong
{
    color: #003554;
}

.save_item
{
    float: left;
    width: 100%;
}

.up_item .avatarupload-item
{
    float: left;
    margin-top: 8%;
    width: 68%;
    /*float: right;*/
    /*padding: 85px 30% 0 0;*/
}

.market-columnone
{
}

.market-columntwo
{
    float: right;
    padding: 0 17%;
}

.product-columnone
{
}

.product-columntwo
{
    float: right;
    padding: 0 17%;
}

@media screen and (max-width: 767px)
{
    .modal
    {
        width: 95%;
    }

    .form-item.up_item
    {
        float: left;
        width: 100%;
    }

    .ph_item
    {
        width: 45%;
    }

    .email_item
    {
        width: 45%;
    }

    .pos_item
    {
        width: 45%;
    }

    .editAcc
    {
        width: 100%;
    }

    .up_item INPUT
    {
        width: 165px;
    }
}


@media screen and (max-width: 360px)
{
    .pos_item
    {
        width: 100%;
    }

    .ph_item
    {
        width: 100%;
    }

    .email_item
    {
        width: 100%;
        margin-left: 0;
    }

    .up_item INPUT
    {
        width: 170px;
    }
}

@media screen and (max-width: 447px)
{
    .avataruploadAllign
    {
        float: left;
    }
}
