body #inner #innerContent .widgetHeader .actions a, body #iconBar .widgetHeader .actions a, body #home #iconBar .widgetHeader .actions a {
  color: #fff;
  margin-top: 0;
  display: block;
  background-color: transparent;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  text-decoration: none;
  min-height: initial;
  text-align: center;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
