﻿.salesrepImg {
    float:left; margin:10px 10px 0 0;
}
.salesrepdetails {
    text-align:left
}
.form-input-row {
    max-width:675px;
    width:100%;
}
.form-input {
    float:left;
    width:48%;
    margin-right:2%;
}
.request-form .form-item {
    float:left;
    margin-top:10px;
    width:100%;
}

    .request-form .form-item SELECT {
        width:72%;
    }
    .request-form .form-item INPUT {
        float:left;
        width:auto;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 #999 inset;   
        padding: 1.5%;
    
    }
    .request-form .form-item LABEL {
        float:left;
    }

    .request-form-check {
    float: left;
    margin: 0;
    width: 100%;
}
.request-form-content {
    line-height:25px;
}

.request-form-check input[type="checkbox"] {
width:auto;
}

    .new-product-image, .new-product-desc {
        float:left;
        margin-top:5px;
    }
.new-product-image {
    width: 15%;
}
.new-product-desc {
    width:83%;
}
.new-product {
    float:left;
    width:100%;
}
#dashboard #iconBar .one-half {
    margin-right:2%;
    width:48%;
    
}
#dashboard {
   margin-bottom: 20px;
}
.videos-outer {
    background-color: #f3f3f3;
    float: left;
    margin-bottom: 3.5%;
    margin-right: 2.8%;
    padding: 0;
    width: 100%;
}
    .video-content one-half {
    float: left;
    margin-right: 1.60183%;
    width: 48.5%;
    }

    .videos-outer img {
        width:100%;
    height: 165px;
    padding: 0; 
    margin: auto;
    }
.video-content .one-col {
    width:80.5%;
}

.videos-text {
    padding: 1% 3%;
}

.video-content h2 {
    margin: 0 0 10px;
}

#inner #innerContent.one-col {
width:80%;}

.img_div {
}

@media screen and (max-width: 768px) {
    .new-product-image {
    width: 20%;
}
.new-product-desc {
    width:78%;
}
}

@media screen and (max-width: 767px) {

    .request-form .form-item INPUT { width:100%; padding:1%;
    }

     .request-form .form-item SELECT {
        width:100%;
    }

     
.form-input {
    float: left;
    margin-right: 0;
    width: 97%;
}

#EmailAddress {
    margin-top: 15px;
}
.request-form-check input[type="checkbox"] {
width:auto;
}


    .request-form .form-item .submitBtn {
        width:auto;
    }

.new-product-image {
    width: 130px;
}
.new-product-desc {
    width:78%;
}
.one-third.omega {
    float: left;
}

.img_div { width:50%; float:left;
}

.videos-text{float:left;}

#inner #innerContent.one-col {
    width: 100%;
}

}

@media screen and (max-width: 554px) {
    .new-product { float:left;
}
}

@media screen and (max-width: 480px) {
    .img_div { width:100%; float:left;
}
}