﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DataDumpTemplate.ascx.cs" Inherits="Tree.TreeResources.Template.ServerRender.DataDumpTemplate" %>
<div id="<%= ClientID %>" class="ektron-ui-control ektron-ui-tree ektron-ui-dataDumpTree" >
    <ul id="outerList" runat="server" />
</div>