/*!
* Aloha Editor
* Author & Copyright (c) 2010 Gentics Software GmbH
* aloha-sales@gentics.com
* Licensed unter the terms of http://www.aloha-editor.com/license.html
*/
div.aloha-inspector-item { margin-bottom: 10px; }
.aloha-inspector-item label { display:block; margin-left: 5px; }
.aloha-inspector-item input { display: block; width: 190px; margin-top: 0px; }
.aloha-inspector-container h2 { margin-left: 5px; }
.aloha-inspector-newattribute label { margin-left: 5px; width: 46px; margin-right: 12px; display: inline-block; }
.aloha-inspector-newattribute input{ margin-left: 5px; }
.aloha-inspector-newattribute button { margin-left: 5px; margin-bottom: 5px; }
.ektron-aloha-button.ektron-aloha-inspector-button {background: url("../../../../../../../../../../images/sprites/sprite-aloha-icons.png") 0px 32px}

.ektron-aloha-button.ektron-aloha-library-button{background: url("../../../../../../../../../../images/silk/icons/book.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; margin: 1px 0px 5px 5px;}

.ektron-aloha-button.ektron-aloha-imageedit-button{background: url("../../../../../../../../../../images/silk/icons/image_edit.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; margin: 5px;}
.ektron-aloha-imageedit-modal {width: 790px; display: none;}
.ui-dialog .ektron-aloha-imageedit-modal {display: block; }
.ektron-aloha-imageedit-modal-iframe {display: none;}
.ui-dialog .ektron-aloha-imageedit-modal-iframe {border: solid 1px #D4D4D4; margin: auto; display: block;}

.ektron-aloha-inspector-header {float: left;}
.ektron-aloha-inspector-title {float: left; margin-left: 1.5em;}
.ektron-aloha-inspector-optionsWrapper {clear: left;}
.ektron-aloha-inspector-checkbox {vertical-align: middle;}
.ektron-aloha-inspector-widenCheckboxLabel {color:#ccc}
#aloha-inspector-element { font-weight:bold;font-size:14px;color:#888; }

.ektron-aloha-inspector-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ektron-aloha-inspector-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ektron-aloha-inspector-clearfix { height:1%; }
.ektron-aloha-inspector-clearfix { display:block; }

*[data-ektron-highlight]
{
	background-color: #e9f2fd;	
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.element:hover {
	background-color: blue;
}

*[data-ektron-highlight-clicked]
{
    -moz-box-shadow: 0px 0px 5px #c0daf9;
    -webkit-box-shadow: 0px 0px 5px #c0daf9;
    box-shadow: 0px 0px 5px #c0daf9;
	background-color: #c0daf9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

*[data-ektron-td-highlight]
{
    background-color:#E6F9FF;
}

*[data-ektron-td-highlight-clicked]
{
    background-color:#96E5FF;
}

*[data-ektron-image-highlight]
{
    opacity:.8;
    background-color: transparent;
    -moz-box-shadow: 0px 0px 5px #c0daf9;
    -webkit-box-shadow: 0px 0px 5px #c0daf9;
    box-shadow: 0px 0px 5px #c0daf9;
}

*[data-ektron-image-highlight-clicked]
{
    background-color: transparent;
    -moz-box-shadow: 0px 0px 8px #1d509b;
    -webkit-box-shadow: 0px 0px 8px #1d509b;
    box-shadow: 0px 0px 8px #1d509b;
}

.styleSelected
{
    border: 3px solid #58C8F5 !important;
}