﻿
    /**************Reset block*****************/
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    }
    :focus {
    outline: 0;
    }

    table {
    border-collapse: separate;
    border-spacing: 0;
    }
    caption, th, td {
    text-align: left;
    font-weight: normal;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: "";
    }
    blockquote, q {
    quotes: "" "";
    }

    .underliane a:hover {
    text-decoration: underline;
    }


    .divCenter{
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    min-width: 300px;
    }

    .box{
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0px;
    display: inline-block;
    }

    .boxVersion{
    padding: 6px 0;
    text-align: left;
    display: inline-block;
    }
    .fontMenuPadding{
    padding: 0px 4px;
    }

    /************** Balloon *********************/
    .balloon {
    background: #faf8b1;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 20px 20px;
    font-size: 13px;
    width: 300px;
    text-align: justify;
    color: #3a3a3a;

    position: absolute;
    top: 30px;
    left: -22px;
    z-index: 2;
    display: none;

    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    box-shadow: 0px 2px 10px rgba(0,0,0,.5);

    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;

    }

    .balloon .arrow {
    width: 0;
    height: 0;
    display: block;

    border-width: 10px;
    border-color: transparent  transparent #faf8b1 transparent ;
    border-style: solid;

    position: absolute;
    top: -17px;
    left: 20px;
    }

    .balloon .closeButton {
    display:block;
    width:14px;
    height:14px;
    text-decoration:none;
    cursor:pointer;
    background:url(./about_close.png);
    position:absolute;
    top:10px;
    right:8px;
    left:auto;
    bottom:auto;
    float:right;
    }

    .balloon .closeButton:hover {
    background:url(./about_close_hover.png);
    }

    .balloon h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 30px 10px 0;
    overflow: hidden;

    }
    .balloon a{
    color: #1e90ff;
    text-decoration: underline;
    }

    .balloon p{
    font-size: 13px;
    overflow: hidden;
    }


    /***********************************/


    .navigation{
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    overflow: hidden;
    }

    .tool{
    overflow: hidden;
    display: block;
    }

    .leftTool{
    float: left;

    }
    .rightTool{
    float: right;
    }
    .locked{
    display: none;
    }

    .divPage{
    margin-top: 30px;
    position: relative;
    display: block;
    overflow:visible;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    }

    .div_items      {margin: 0px; padding: 0px; position: absolute; overflow: hidden;}

    
    body{
    font: normal normal normal 12px/18px Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #775192;
    background:  url(../../flash/image/inner_bg.jpg) no-repeat 100% 100%;
      background-size: cover;
    
    }

    .bodyBg{
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:
      url(../../flash/image/inner_bg.jpg);
      background-size: cover;
    
    }
    
  
h1 {
	font-size:25px;
	font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
	color: #000000;
  width: 100%;
	padding: 30px 0 10px 0;
	line-height: 22px;
	text-align: left;
}

h1 a{
	color: #000000;
	text-decoration: none;
}
  
    .copy{
    color: #000000;
    font-size: 10px;
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    width: 100%;
    line-height: 22px;
    text-align: center;
    }
    .copy a{
    color: #000000;
    text-decoration: none;
    }
    .copy a:hover{
    color: #000000;
    text-decoration: underline;
    }
  
.fontVersion {
    font-size:10px; 
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    color: #000000;
}
  
    .menu{
    padding: 5px 16px;
    height: 20px;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    top: 0px;
    right: 0px;
    border-radius: 3px 3px 0 0;
    background: url(seoBg.png) repeat;
    }

    .fontMenu {
    float: right;
    font-size:10px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color: #000000;
}
.fontMenu a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
  
.addNavigationRight{
	color: #000000;
    font-size: 10px;
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    line-height: 22px;
    text-align: right;
    float: right;
    }
    .addNavigationRight a{
    color: #000000;
	text-decoration: none;
}
.addNavigationRight a:hover{
	color: #000000;
	text-decoration: underline;
}

.addNavigationLeft{
	color: #000000;
    font-size: 10px;
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    text-align: left;
    float: left;
    }
    .addNavigationLeft a{
    color: #000000;
	text-decoration: none;
}
.addNavigationLeft a:hover{
	color: #000000;
	text-decoration: underline;
}


.fontPosition {
white-space: nowrap;
border: 0px solid blue;
position: absolute;
top: 0px;
    left: 0px; overflow: visible;
}
  
.areaLink{
    background:#A48BB6;
    opacity: 0;
}
.areaLink:hover {
  opacity:0.5;
}
  
    /* TOC */
    h2 {
    font-size:17px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color:#000000;
    text-align: left;
    padding: 30px 40px 0px 40px;
    }


    .bold{
    font-weight: bold;
    }

    .fontPageName{
    padding: 0 15px 0px 0;
    font-size:12px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color:#3780c1;
    background: #ffffff;
    word-wrap: break-word;
    border: 0px solid red;
    }

    .fontPageName:hover {text-decoration: underline;}

    .fontPageNum {
    padding: 5px 0 0 0;
    font-size:12px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color:#5e6166;
    background: #ffffff;
    height: 100%;
    vertical-align: bottom;
    display: table-cell;
    float: right;
    border: 0px solid green;
    }
    .fontPageNum:hover {text-decoration: underline;}

    table {
    width: 100%;
    position: relative;
    top: 10px;
    left: 0px;
    }

    .tdName{
    word-wrap: break-word;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
    table-layout: fixed;
    }

    .tdNum{
    vertical-align: bottom;
    width: 40px;
    text-align: right;
    background: #ffffff;
    }

    ul{
    padding: 10px 40px 20px 40px;
    display: block;
    }

    ul.children{
    padding: 10px 0px 0px 0px;
    display: block;
    }

    li {
    margin: 3px 0 0 0;
    list-style-type: none;
    border-bottom: 1px dotted silver;
    list-style-position: outside;
    }

    li a {
    color:#3780c1;
    text-decoration: none;
    }

    li a:hover{
    text-decoration: underline;
    }

    li.children {
    margin: 3px 0 0 0;
    list-style-type: none;
    border-bottom: 0px dotted silver;
    list-style-position: outside;
    }


    ul li ul {}
    ul li ul li {
    margin: 3px 0 0 20px;
    }

    ul li ul li ul {}
    ul li ul li ul li{
    margin: 3px 0 0 40px;
    }

    ul li ul li ul li ul {}
    ul li ul li ul li ul li{
    margin: 3px 0 0 60px;
    }

    .about{
    padding: 40px 70px;
    display: block;
    overflow: hidden;
    min-height: 400px;
    min-width: 300px;
    background: #ffffff;
    text-align: left;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    box-shadow: 0px 3px 6px rgba(0,0,0,.4);
    }

    @media only screen and (min-height: 600px) {
    .about{margin:60px auto;}
    }
    @media only screen and  (max-height: 599px) {
    .about{margin:auto;}
    }
    @media only screen and (min-width: 800px) {
    .about{width: 600px;}
    }
    @media only screen and  (max-width: 799px) {
    .about{width: 400px;}
    }

    .about h3{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif,  "Lucida Sans";
    color: #aaa;
    width: 100%;
    padding: 20px 0;
    line-height: 22px;
    text-align: left;
    }
    .about span{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif,  "Lucida Sans";
    color: #000;
    width: 100%;
    line-height: 24px;
    padding: 20px 0;
    display: block;
    }


  