﻿/*Global*/
input.aspNetDisabled.ui-state-disabled
{
    opacity: 1;
    filter: Alpha(Opacity=100);
}

/* UrlAliasingSettings.aspx */
.column-type
{
    width: 10%;
}
.column-enabled
{
    width: 10%;
}
.column-cached
{
    width: 10%;
}
.column-cacheduration
{
    width: 10%;
}
.column-clearCacheButton
{
    padding: 3px;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
table.urlAliasSettings th, table.urlAliasSettings td
{
    width: 90%;
}
table.urlAliasSettings th.urlTypesLabel, table.urlAliasSettings td.urlTypesLabel
{
    width: 10%;
}
table.urlAliasSettings td.urlTypesLabel
{
    font-weight: bold;
}
.ReplacementCharacters
{
    overflow: auto;
    height: 262px;
}
table.urlAliasGlobalSettings
{
    margin: 10px;
}
table.urlAliasGlobalSettings td.urlGlobalLabel
{
    font-weight: bold;
    margin-right: 10px;
}
table.urlAliasGlobalSettings td.urlGlobalInput
{
    padding-right: 10px;
}
div.extensionListBlock
{
    float: left;
}
div.extensionListBlock #uxFileExtension
{
    width: 60px;
}
div.extensionControlBlock
{
    float: left;
    margin-left: 10px;
}
div.extensionControlBlock #tbNewExt
{
    width: 40px;
}

/*AutomaticAliasingRules.aspx */
.column-cached
{
    width: 10%;
}
.column-cacheduration
{
    width: 10%;
}
.column-clearCacheButton
{
    padding: 3px;
}
.column-AddButton
{
    padding: 3px;
}
.column-Language
{
    padding: 5px;
}
.column-Site
{
    padding: 5px;
}
.column-Type
{
    padding: 5px;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.UrlTypesLabel
{
    font-weight: bold;
}
.column-Search
{
    padding: 5px;
}
.searchTextCss
{
    color: #878787;
    font-style: oblique;
}

.aliasConfigListContainer
{
    padding-top: 10px;
}

/* AddAutomaticAliasingRule */

.replacementlistview
{
    width: 270px !important;
}

.replacementlistview table td, .replacementlistview table th
{
    border: solid 1px #D4D4D4;
    width: 85px;
}

.replacementlistedit input[type='text']
{
    width:30px;
}

.ektronUIIframeWrapper
{
    height: 30em;
    width: 100%;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.column-backButton a.backButton img
{
    border: 0 none;
}
.replacementbutton a.button
{
     padding: 0.5em 5em 0.6em !important;
}
.uxDeleteCharacterDefault
{
   opacity: 0.5;
   color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}
.uxDeleteCharacter
{
     padding: 2px;
}

/*aliases.aspx */

.column-cached
{
    width: 10%;
}
.column-cacheduration
{
    width: 10%;
}
.column-clearCacheButton
{
    padding: 3px;
}
.column-AddButton
{
    padding: 3px;
}
.column-Language
{
    padding: 5px;
}
.column-Site
{
    padding: 5px;
}
.column-Type
{
    padding: 5px;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.UrlTypesLabel
{
    font-weight: bold;
}
.column-Search
{
    padding: 5px;
}
.searchTextCss
{
    color: #878787;
    font-style: oblique;
}
.urlTypesLabel
{
    font-weight: bold;
    text-align: center;
}


/* Redirects */
.column-cached
{
    width: 10%;
}
.column-cacheduration
{
    width: 10%;
}
.column-clearCacheButton
{
    padding: 3px;
}
.column-AddButton
{
    padding: 3px;
}
.column-Language
{
    padding: 5px;
}
.column-Site
{
    padding: 5px;
}
.column-Type
{
    padding: 5px;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.UrlTypesLabel
{
    font-weight: bold;
}
.column-Search
{
    padding: 5px;
}

.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.validate span
{
    color: red;
}

/* REG EX */
.column-cached
{
    width: 10%;
}
.column-cacheduration
{
    width: 10%;
}
.column-clearCacheButton
{
    padding: 3px;
}
.column-AddButton
{
    padding: 3px;
}
.column-Language
{
    padding: 5px;
}
.column-Site
{
    padding: 5px;
}
.column-Type
{
    padding: 5px;
}
.column-backButton
{
    padding: 3px;
}
.column-PrimaryButton
{
    padding: 3px;
}
.UrlTypesLabel
{
    font-weight: bold;
}
.column-Search
{
    padding: 5px;
}
.searchTextCss
{
    color: #878787;
    font-style: oblique;
}
