/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.eot");
  src: url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.woff") format("woff"),
       url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.ttf") format("truetype"),
       url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_ad9eea38a98f7ab3e9ae9e77c1bdc552.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-case-studies:before,
.icon-contact-us:before,
.icon-download:before,
.icon-faqs:before,
.icon-featured-products:before,
.icon-flat-panel-display:before,
.icon-industrial-vacuum:before,
.icon-knowledge-and-document-centre:before,
.icon-led:before,
.icon-manuals:before,
.icon-our-locations:before,
.icon-photovoltaic:before,
.icon-process-industries:before,
.icon-r-and-d:before,
.icon-scientific-instruments:before,
.icon-semiconductor-processing:before,
.icon-service:before,
.icon-tech-specs:before,
.icon-video-tutorials:before,
.icon-webshop:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-case-studies:before { content: "\f100"; }
.icon-contact-us:before { content: "\f101"; }
.icon-download:before { content: "\f102"; }
.icon-faqs:before { content: "\f103"; }
.icon-featured-products:before { content: "\f104"; }
.icon-flat-panel-display:before { content: "\f105"; }
.icon-industrial-vacuum:before { content: "\f106"; }
.icon-knowledge-and-document-centre:before { content: "\f107"; }
.icon-led:before { content: "\f108"; }
.icon-manuals:before { content: "\f109"; }
.icon-our-locations:before { content: "\f10a"; }
.icon-photovoltaic:before { content: "\f10b"; }
.icon-process-industries:before { content: "\f10c"; }
.icon-r-and-d:before { content: "\f10d"; }
.icon-scientific-instruments:before { content: "\f10e"; }
.icon-semiconductor-processing:before { content: "\f10f"; }
.icon-service:before { content: "\f110"; }
.icon-tech-specs:before { content: "\f111"; }
.icon-video-tutorials:before { content: "\f112"; }
.icon-webshop:before { content: "\f113"; }
