﻿div.ektronPageContainer div.settingsContainer
{
    margin:10px;
}

div.ektronPageContainer div.settingsContainer td
{
    padding:2px;
    vertical-align:top;
}

div.ektronPageContainer div.settingsContainer td.label
{
    text-align: right;
    font-weight: bold;
}

