<%@ Page Language="C#" AutoEventWireup="true" CodeFile="aboutFreewayCMSConnector.aspx.cs" Inherits="Workarea_Freeway_aboutFreewayCMSConnector" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
     <script type="text/javascript">
     function showAbout()
     { 
    
     window.open("aboutCMSConnector.aspx","About","width=455,height=370,left=400px,top=180px,resizable=no",false)
   
     }
     
     </script>
</head>
<body  onload="showAbout()"  >
    <form id="form1" method="Post" runat="server">
    <div>    
    </div>
    </form>
</body>
</html>
