<%@ Page Language="C#" AutoEventWireup="true" CodeFile="helpContentSelection.aspx.cs" Inherits="Workarea_Freeway_helpContentSelection" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table cellspacing="0" cellpadding="0">
    <tr>
    <td valign="top"><a href="helpMain.aspx"><img src="images/back.png"/> </a></td>
    </tr>
    <tr><td>  Content Selection </td></tr>
    </table>
   
    </div>
    </form>
</body>
</html>
