<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SendToFreewayControl.ascx.cs"
    Inherits="Freeway_SendToFreewayControl" %>
 <script type="text/javascript">
    
     function showCreateProject()
     { 
     window.open("freewayprojectcreation.aspx","ProjectCreation","width=800,height=500,resizable=no",false)
         }
     
     
     </script>
      <%--<style type="text/css">
.modalBackground {
	background-color:Gray;
    background-repeat:true;
	filter:alpha(opacity=70);
	opacity:0.7;
}
</style>--%>
<div>
  <table width = "100%">
        <tr>
            <td align = "left" colspan="2"><asp:Label ID="lblFRTerLang"  runat="server" Text = "Freeway Project Details" ForeColor = "#2e6e9e" Font-Size="8pt" Font-Bold="true"></asp:Label>
            </td>
        </tr>
        <tr >
            <td style="width:60%;">                
                 <asp:DropDownList  ID="_ddlProj" runat="server" Width="430px" Font-Names="Verdana" Font-Size="8pt" >
                 </asp:DropDownList>
            </td> 
             <td style="width:10%;">
             <asp:Button ID="btnRefreshProjects" runat="server" Text="Refresh" OnClick="btnRefreshProjects_Click" Width="70px"
                                                Font-Size="8pt" Font-Names="Vardana" />
            </td>
            <td style="width:30%;  " >
             <%--<asp:ScriptManager ID="scriptManager1" runat="server"></asp:ScriptManager>
             <ajaxToolkit:ModalPopupExtender ID="mpeNewProject" BackgroundCssClass="modalBackground" PopupControlID="pnlNewProject"
                            TargetControlID="lnkbtnNewProject" CancelControlID="CancelBtn"   runat="server" >
                        </ajaxToolkit:ModalPopupExtender>
                        <asp:Panel ID="pnlNewProject" ScrollBars="None" runat="server" >
                       
                       <table width="100%" style="background-color:White;">
                        <tr >
                      <td align="RIGHT"  valign="top">
                          <div style="text-align:right;padding-right:2px;"> 
                               <asp:LinkButton ID="CancelBtn" runat="server" Font-Names="verdana"  Font-Size="10px"  style="text-align:center;color:Black;"   Text="Close"  OnClick="CancelBtn_Click"></asp:LinkButton>
                      </div>  </td></tr>
                       
                       <tr><td >
                                 <iframe id="ifrmNewProject" width="560px" height="320px" src="freewayprojectcreation.aspx"></iframe>
                     
                  
                       </td>
                       </tr>
                      
                       </table>
            
                        </asp:Panel>
                        <asp:LinkButton runat="server" OnClick="LinkButton_Onclick" ForeColor="#2e6e9e" Text="New Project" font-size="11px" ID="lnkbtnNewProject"></asp:LinkButton>
            --%>
            
                 <a href="#" onclick="showCreateProject();"  style="color:#2e6e9e;text-decoration:underline;font-family:Verdana;font-size:11px;">New Project</a>
             
         
             </td> 
           
        </tr>
    </table>
</div>
