﻿.ektron-ui-gridview table.uxMappingGrid tbody td.ektron-ui-selectable-column select {
    width: 100%;
}
.ektron-ui-gridview table.uxMappingGrid tbody td.ektron-ui-selectable-column {
    width: auto;
}

.ektron-ui-required.ui-state-default{
    color:#a11a08;
    }
    
 