﻿.ektron-aloha-button.ektron-aloha-embed-button {background: url("../../../../../../../../../../images/silk/icons/page_white_flash.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; margin: 1px 0px 5px 5px;}

.ektron-aloha-embed-modal {width: 790px; display: none;}
.ui-dialog .ektron-aloha-embed-modal {display: block; }
.ektron-aloha-embed-modal-iframe {display: none;}
.ui-dialog .ektron-aloha-embed-modal-iframe {border: solid 1px #D4D4D4; margin: auto; display: block;}

