.ektron-ui-tree.ektron-ui-genericTree, .ektron-ui-tree.ektron-ui-genericTree .ektron-ui-tree-generic
{
    background-image: url('../../../../../images/sprites/treeLines.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0 0 0 3px;
    margin: 0;
}

.ektron-ui-tree.ektron-ui-genericTree:last-child,
.ektron-ui-tree.ektron-ui-genericTree:last-child .ektron-ui-tree-generic:last-child,
.ektron-ui-tree.ektron-ui-genericTree.expandable:last-child,
.ektron-ui-tree.ektron-ui-genericTree.expandable:last-child .ektron-ui-tree-generic:last-child
{
    background-image: url('../../../../../images/sprites/treeLines.png');
    background-position: 0 -1768px;
}

.ektron-ui-tree.ektron-ui-genericTree span.ui-icon
{
    display: none;
}

.ektron-ui-tree.ektron-ui-genericTree li.ektron-ui-tree-branch > .hitLocation, 
.ektron-ui-tree.ektron-ui-genericTree li.ektron-ui-tree-leaf > .hitLocation

{
    padding-left: 17px;
}

.ektron-ui-tree.ektron-ui-genericTree .textWrapper,
.ektron-ui-tree.ektron-ui-genericTree .clickable
{
    vertical-align: inherit;
}

