﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Dialog.ascx.cs" Inherits="Ektron.Cms.Framework.UI.Controls.EktronUI.Templates.Dialog" %>
<div id="uxDialogControl" runat="server">
	<asp:PlaceHolder ID="aspContent" runat="server" />
</div>