﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Infotip.ascx.cs" Inherits="Ektron.Cms.Framework.UI.Controls.EktronUI.Templates.Infotip" %>
<div id="<%= this.ControlContainer.ClientID %>"<%= ClassAttribute %>>
    <asp:Label ID="uxAnchor" title="" runat="server"></asp:Label>
</div>
