<%@ Page Language="C#" ResponseEncoding="utf-8" AutoEventWireup="true" CodeFile="ekajaxtidy.aspx.cs" Inherits="ektidy" ValidateRequest="false" Theme="" %>
<asp:Literal id="litContent" runat="server"></asp:Literal>
