<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IFrame.ascx.cs" Inherits="Widgets_IFrame" %>
<!--[if gt IE 6]> 
    <style>
    .hidableiframeproperty{
        display:none;
    }
    </style>
<![endif]--> 
<div>
  <asp:Label ID="lblNote" runat="server" ></asp:Label>
</div>
<div >
    <asp:MultiView ID="ViewSet" runat="server">
        <asp:View ID="View" runat="server">
            <asp:Label ID="lbData" runat="Server"></asp:Label>
        </asp:View>
        <asp:View ID="Edit" runat="server">
            <table style="width:99%;">
                <tr>
                    <td>
                        <%=m_refMsg.GetMessage("lbl url:")%></td>
                    <td>
                        <asp:TextBox ID="IFrameURLTextBox" runat="Server" style="width:95%"></asp:TextBox></td>
                </tr>
                <tr>
                    <td>
                        <%=m_refMsg.GetMessage("lbl widget title:")%></td>
                    <td>
                        <asp:TextBox ID="WidgetTitleTextBox" runat="Server" style="width:95%"></asp:TextBox></td>
                </tr> 
                <tr>
                    <td>Automatically Adjust Height</td>
                    <td>
                        <asp:CheckBox ID="AutoHeightCheckBox" runat="server" /></td>
                </tr>
                <tr>
                    <td>Automatically Adjust Width</td>
                    <td>
                        <asp:CheckBox ID="AutoWidthCheckBox" runat="server" /></td>
                </tr>
                <tr  >
                    <td>
                        <%=m_refMsg.GetMessage("lbl horizontal scroll bar:")%></td>
                    <td>
                        <asp:CheckBox ID="ScrollXCheckBox" runat="server" /></td>
                </tr>
                <tr  >
                    <td>
                        <%=m_refMsg.GetMessage("lbl vertical scroll bar:")%></td>
                    <td>
                        <asp:CheckBox ID="ScrollYCheckBox" runat="server" /></td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td> <asp:Button ID="CancelButton" runat="server" Text="Cancel" OnClick="CancelButton_Click" /> &nbsp;&nbsp;
                        <asp:Button ID="SaveButton" runat="server" Text="Save" OnClick="SaveButton_Click" /></td>
                </tr>
                
            </table>
        </asp:View>
    </asp:MultiView>
</div>
