﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Inner.ascx.cs" Inherits="library_includes_controls_callouts_Inner" %>

<h3 id="uxH3" runat="server"><asp:Label ID="uxCalloutHeaderlbl" runat="server"></asp:Label></h3>
<div class="block">
    <asp:HyperLink ID="uxCalloutLink" runat="server"></asp:HyperLink>
</div>