﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Navigation.ascx.cs" Inherits="library_includes_controls_callouts_Navigation" %>

<asp:HyperLink ID="uxCalloutLink" runat="server">
    <asp:Literal ID="uxCalloutContentLit" runat="server"></asp:Literal>
</asp:HyperLink>