﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ListTemplate.ascx.cs" Inherits="Ektron.Cms.Framework.UI.Web.FrameworkUI.Templates.ContextMenuBase.ListTemplate" %>
<ul class="contextMenuBase">
	<asp:PlaceHolder ID="listPlaceholder" runat="server" />
</ul>