﻿#advInspectorm #instabs {
    max-height: 100%;
    height: 85%;
}

#advInspectorm #insContainer
{
    height:85%;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 12em;
}
#advInspectorm #basic-style-box
{
    color:black;
}

#advInspectorm #basic-style-box .styleOption
{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#advInspectorm .basic,
#advInspectorm .advanced
{
    top: 0; 
    bottom: 0;
    right: 0; 
    left: 0;
    position: absolute;
}
.ektron-aloha-advinspector-modal .trail
{
    list-style: none;
    margin:0;
    float:right;
}
#highlightoption
{
    float: right;
}
.ektron-aloha-advinspector-modal .trail li
{
    margin-right:5px;
    float:left;
}
.ektron-aloha-advinspector-modal .ui-slider
{
    border-color: white !important;
}
.ektron-aloha-advinspector-modal .trail li button
{
    padding-left:5px;
    padding-right:5px;
    background-color:rgb(32,88,164);
    color:white;
    border:1px solid #0094ff;
}
.ektron-aloha-advinspector-modal .trail li button.active
{
    background:white;
    color:rgb(32,88,164);
}
#insAdvanced ul,
#insBasic ul
{
    list-style-type:none;
}

#insAdvanced>fieldset>label,
#insBasic>fieldset>label
{
    font-weight:bold;
    display: inline;
    font-size:12px;
}

#insAdvanced input[type='text'],
#insBasic input[type='text']
{
    width:70%;
}
#insAdvanced input[type='checkbox'],
#insBasic input[type='checkbox']
{
    margin-right: 5px;
}
.ui-dialog .ui-dialog-titlebar-min{ position: absolute; right: 23px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-min span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-min:hover, .ui-dialog .ui-dialog-titlebar-min:focus,
.ui-dialog .ui-dialog-titlebar-rest:hover, .ui-dialog .ui-dialog-titlebar-rest:focus { 
    background: rgb(32,88,164) !important;
    border: 1px solid #757575;
    color: #515151;
    font-weight: normal;
    padding: 0; 
}

.ui-dialog .ui-dialog-titlebar-left{ position: absolute; right: 41px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-left span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-left:hover, .ui-dialog .ui-dialog-titlebar-left:focus { padding: 0; }
 
.ui-dialog .ui-dialog-titlebar-right{ position: absolute; right: 5px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-right span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-right:hover, .ui-dialog .ui-dialog-titlebar-right:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-rest{ position: absolute; right: 23px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-rest span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-rest:hover, .ui-dialog .ui-dialog-titlebar-rest:focus { padding: 0; }

.rotated
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ektron-aloha-advinspector-modal{
	font-size:12px;
}
.ektron-aloha-advinspector-modal input,
.ektron-aloha-advinspector-modal select
{
    width:auto;
    margin:0;
}

.ektron-aloha-advinspector-modal .grey-text {
    color:silver;
}
.ektron-aloha-advinspector-modal #insBasic input[type="text"].textbox-narrow, 
.ektron-aloha-advinspector-modal #insAdvanced input[type="text"].textbox-narrow {
	width: 3em;
}
.ektron-aloha-advinspector-modal #insBasic .slider-left {
	top: 1em;
    width: 80%;
}
.ektron-aloha-advinspector-modal #insBasic .textbox-right {
	position: absolute;
    right: 7%;
}
.ektron-aloha-advinspector-modal .btn-wide {
    width: 90%;
}
.ektron-aloha-advinspector-modal textarea.input-box {
	height: 50px;
}
/*Highlights*/
*[data-ektron-highlight]
{
    -moz-box-shadow: 0px 0px 5px #c0daf9;
    -webkit-box-shadow: 0px 0px 5px #c0daf9;
    box-shadow: 0px 0px 5px #c0daf9;
	background-color: #c0daf9;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
img[data-ektron-highlight]
{
    outline:5px solid #c0daf9;
    box-shadow: 0px 0px 0px #c0daf9;
}
*[data-ektron-highlight] img
{
    outline:5px solid #c0daf9;
    box-shadow: 0px 0px 0px #c0daf9;
}
*[data-ektron-highlight-clicked]
{
    -moz-box-shadow: 0px 0px 5px #c0daf9;
    -webkit-box-shadow: 0px 0px 5px #c0daf9;
    box-shadow: 0px 0px 5px #c0daf9;
	background-color: #c0daf9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

*[data-ektron-td-highlight]
{
    background-color:#E6F9FF;
}

*[data-ektron-td-highlight-clicked]
{
    background-color:#96E5FF;
}

*[data-ektron-image-highlight]
{
    opacity:.8;
    background-color: transparent;
    -moz-box-shadow: 0px 0px 5px #c0daf9;
    -webkit-box-shadow: 0px 0px 5px #c0daf9;
    box-shadow: 0px 0px 5px #c0daf9;
}
.ektron-ux-UITheme .ui-widget-header .ui-icon{
    background-image: url("../../../../../../../../../../../csslib/ektronTheme/images/ui-icons_ffffff_256x240.png") !important;
}
.ektron-ux-UITheme .ui-state-hover .ui-icon,
.ektron-ux-UITheme .ui-state-focus .ui-icon {
    background-image: url("../../../../../../../../../../../csslib/ektronTheme/images/ui-icons_ffffff_256x240.png") !important;
}

.ektron-ux-UITheme li.ui-tabs-active a {
    color:white !important;
}
#btnResetClassStyle
{
    margin-top: 10px;
    width: 50%;
}
.ektron-ux-dialog.ui-dialog button.ui-button.ui-dialog-titlebar-minimize,
.ektron-ux-dialog.ui-dialog button.ui-button.ui-dialog-titlebar-restore {
    background-color: transparent;
    background-image: none;
    border: medium none;
    border-radius: 0 4px 0 0;
    bottom: 0;
    color: #FFFFFF;
    font-size: 11px;
    height: auto;
    margin: 0;
    outline: medium none;
    padding: 1px;
    position: absolute;
    right: 0;
    text-indent: 0;
    top: 0;
    width: 33px;
}
.ektron-ux-dialog.ui-dialog button.ui-button.ui-dialog-titlebar-minimize:hover,
.ektron-ux-dialog.ui-dialog button.ui-button.ui-dialog-titlebar-restore:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.35) 22%, rgba(0, 0, 0, 0.11) 70%, rgba(0, 0, 0, 0.01) 100%) repeat scroll 0 0 transparent;
}
.ui-dialog-titlebar .ui-state-default .ui-icon {
    background-image: url("../../../../../../../../../../../csslib/ektronTheme/images/ui-icons_ffffff_256x240.png") !important;
    display:block !important;
}
#advInspectorm select
{
    height:auto;
}
#advInspectorm hr
{
    border: 0;
    color: #9E9E9E;
    background-color: #9E9E9E;
    height: 1px;
    width: 100%;
    text-align: left;
}
#advInspectorm fieldset
{
    border: 1px solid #9E9E9E;
    padding:5px;
    position: relative;
}
#advInspectorm button,
#advInspectorm input
{
    width:auto;
}
#advInspectorm .alttext
{
    width:100% !important;
}