﻿.ektron-aloha-button.ektron-aloha-translate-button {background: url("../../../../../../../../../../images/sprites/sprite-aloha-icons.png") 0px 68px}

.ektron-aloha-translate-modal {width: 790px; display: none;}
.ui-dialog .ektron-aloha-translate-modal {display: block; }
.ektron-aloha-translate-modal-iframe {display: none;}
.ui-dialog .ektron-aloha-translate-modal-iframe {border: solid 1px #D4D4D4; margin: auto; display: block;}
