td.ek_tab_activated {
      background-image:url(tab_selected2.gif);
      background-repeat:no-repeat;
      border:0px;
      cursor:pointer;
	  
}

td.ek_tab_disabled {
      background-image:url(tab_not2.gif);
      background-repeat:no-repeat;
      border:0px;
      cursor:pointer;
 }

td.ek_tab_activated b {
      color:#000000;
      display:block;
      height:17px;
      width:110px;
      padding-top:3px;
      text-align:center;
      font-size:1em;
      font-family:Arial, Helvetica, sans-serif;
	  font-weight:normal;
 		cursor:pointer;
}

td.ek_tab_disabled b {
      color:#777777;
      height:17px;
      padding-top:3px;
      display:block;
      width:110px;
      text-align:center;
      font-size:1em;
      font-family:Arial, Helvetica, sans-serif;
	  font-weight:normal;
	  cursor:pointer;
}

td.ek_tab_last {
      background-color:#DFE6EF;
}

td.ek_tab_spacer {
      background-color:#DFE6EF;
}