﻿.ektron-aloha-button.ektron-aloha-validator-button {background: url("../../../../../../../../../../images/sprites/sprite-aloha-icons.png") 0px 52px}

.ektron-aloha-validator-modal {width: 790px; display: none;}
.ui-dialog .ektron-aloha-validator-modal {display: block; }

.ektron-aloha-validator-header {float: left;}
.ektron-aloha-validator-title {float: left; margin-left: 1.5em;}
.ektron-aloha-validator-optionsWrapper {clear: left;}
.ektron-aloha-validator-radio {vertical-align: middle;}
/*.ektron-aloha-validator-marker {background:#70a5e2; color:#fff}*/

.ektron-aloha-validator-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ektron-aloha-validator-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ektron-aloha-validator-clearfix { height:1%; }
.ektron-aloha-validator-clearfix { display:block; }
/* end clearfix */