﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GeneralAnnouncement.ascx.cs" Inherits="library_includes_controls_GeneralAnnouncement" %>
<h3><asp:Literal ID="title" runat="server"></asp:Literal></h3>
<asp:Literal ID="uxContent" runat="server"></asp:Literal>
