body {
  background: #fff;
  color: #000;
  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
}

a {
  color: #29f;
}

#ipad {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0px;
  top: 0px;
}

#ipad.landscape {
  background: url('orig/landscape.png');
  width: 1108px;
  height: 852px;
}

#ipad.portrait {
  background: url('orig/portrait.png');
  width: 852px;
  height: 1108px;
}
#droidx.landscape {
  background: url('orig/Droid_landscape.png');
  width: 592px;
  height: 312px;
}

#droidx.portrait {
  background: url('orig/Droid_portrait.png');
  width: 312px;
  height: 592px;
}

#iphone.landscape {
  background: url('orig/iphone_landscape.jpg');
  width: 567px;
  height: 303px;
}

#iphone.portrait {
  background: url('orig/iphone_portrait.jpg');
  width: 304px;
  height: 565px;
}
#ipad #rotate {
  height: 42px;
  position: absolute;
  left: 20px;
  top: 0px;
  cursor: pointer;
  background: url('../../images/UI/Icons/rotateClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
}
#iphone #rotate {
  height: 42px;
  position: absolute;
  left:30px;
  top: 0px;
  cursor: pointer;
  background: url('../../images/UI/Icons/rotateClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
}
#ipad.landscape #rotate 
{
  background: url('../../images/UI/Icons/rotateCounterClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
  width: 1108px;
}

#ipad.portrait #rotate {
  width: 852px;
}
#iphone.landscape #rotate 
{
  background: url('../../images/UI/Icons/rotateCounterClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
  width: 567px;
}

#iphone.portrait #rotate 
{
  width: 304px;
}
#ipad #reload {
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 89px;
}

#ipad.landscape #reload {
  left: 745px;
}

#ipad.portrait #reload {
  left: 582px;
}
/*
#ipad #kbd {
  position: absolute;
  left: 42px;
  top: 116px;
  display: none;
  z-index: 10;
}

#ipad.landscape #kbd {
  background: url('orig/landscape_kbd.png');
  width: 1024px;
  height: 694px;
}

#ipad.portrait #kbd {
  background: url('orig/portrait_kbd.png');
  width: 768px;
  height: 950px;
}
*/
#ipad #url {
  position: absolute;
  display:none;
  left: 282px;
  top: 87px;
  height: 21px;
  background: #fff;
  border: none;
  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
}
#iphone #url {
  position: absolute;
  display: none;
  left: 120px;
  top: 64px;
  height: 21px;
  background: #fff;
  border: none;
  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
}
#ipad.landscape #url {
  width: 460px;
}

#ipad.portrait #url {
  width: 240px;
}
#iphone.landscape #url {
  width: 340px;
}

#iphone.portrait #url {
  width: 220px;
  top: 143px;
  left: 45px;
}
#ipad #google {
  position: absolute;
  top: 87px;
  height: 21px;
  background: #fff;
  border: none;
  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
}

#ipad.landscape #google {
  left: 790px;
  width: 250px;
}

#ipad.portrait #google {
  left: 625px;
  width: 160px;
}

#ipad #frame {
  border: none;
  background: #fff;
  position: absolute;
  left: 42px;
  top: 120px;
}
#iphone #frame {
  border: none;
  background: #fff;
  position: absolute;
  left: 116px;
  top: 54px;
  transform: scale(0.5);
  -ms-transform: scale(0.5);
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  
   /* IE8+ - must be on one line, unfortunately */ 
   /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod='auto expand')";*/
   
   /* IE6 and 7 */ 
   /*filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.5,
            M12=0,
            M21=0,
            M22=0.5,
            SizingMethod='auto expand');*/

}
#ipad.landscape #frame {
  width: 1024px;
  height: 690px;
}
#iphone.landscape #frame {
  height: 450px;
  width: 730px;
}
#ipad.portrait #frame {
  width: 1365px;   /* 768 * 4 / 3 - 1*/
  height: 1682px;  /* 946 * 4 / 3 */
  transform: scale(0.75);
  -ms-transform: scale(0.75);
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.563);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  
   /* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.75, M12=0, M21=0, M22=0.75, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.75,
            M12=0,
            M21=0,
            M22=0.75,
            SizingMethod='auto expand');
}

#iphone.portrait #frame {
  width: 540px;   /* 768 * 4 / 3 - 1*/
  height: 780px;  /* 946 * 4 / 3 */
  left: 40px;
  top: 130px;
  transform: scale(0.45);
  -ms-transform: scale(0.45);
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.45);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.45);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.45);
  -o-transform-origin: 0 0;
  
   /* IE8+ - must be on one line, unfortunately */ 
   /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.45, M12=0, M21=0, M22=0.45, SizingMethod='auto expand')";*/
   
   /* IE6 and 7 */ 
   /*filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.45,
            M12=0,
            M21=0,
            M22=0.45,
            SizingMethod='auto expand');*/
}

.info {
  margin: 16px;
  text-align: center;
}

#about {
  display: none;
}
#droidx #rotate {
  height: 42px;
  position: absolute;
  left: 50px;
  top: 0px;
  cursor: pointer;
  background: url('../../images/UI/Icons/rotateClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
}
#droidx.landscape #rotate 
{
  background: url('../../images/UI/Icons/rotateCounterClockwise.png');
  background-repeat:no-repeat;
  background-position:right;
  width: 567px;
}

#droidx.portrait #rotate {
  width: 304px;
  left:30px;
}
#droidx #url {
  position: absolute;
  display: none;
  left: 120px;
  top: 64px;
  height: 21px;
  background: #fff;
  border: none;
  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
}
#droidx.landscape #url {
  width: 340px;
}

#droidx.portrait #url {
  width: 220px;
  top: 143px;
  left: 45px;
}
#droidx #frame {
  border: none;
  background: #fff;
  position: absolute;
  left: 83px;
  top: 45px;
  transform: scale(0.5);
  -ms-transform: scale(0.5);
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  
   /* IE8+ - must be on one line, unfortunately */ 
   /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod='auto expand')";*/
   
   /* IE6 and 7 */ 
   /*filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.5,
            M12=0,
            M21=0,
            M22=0.5,
            SizingMethod='auto expand');*/

}
#droidx.landscape #frame {
  height: 480px;
  width: 850px;
}
#droidx.portrait #frame {
  width: 534px;   /* 768 * 4 / 3 - 1*/
  height: 950px;  /* 946 * 4 / 3 */
  left: 44px;
  top: 83px;
  transform: scale(0.45);
  -ms-transform: scale(0.45);
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.45);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.45);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.45);
  -o-transform-origin: 0 0;
  
   /* IE8+ - must be on one line, unfortunately */ 
   /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.45, M12=0, M21=0, M22=0.45, SizingMethod='auto expand')";*/
   
   /* IE6 and 7 */ 
   /*filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.45,
            M12=0,
            M21=0,
            M22=0.45,
            SizingMethod='auto expand');*/
}
