﻿.ektron-ui-tree.ektron-ui-taxonomyTree.showControls .selected > .hitLocation > .selectionLocation > .textWrapper
{
    background:none;
    border:1px solid transparent;
    }
    
.ektron-ui-tree.ektron-ui-taxonomyTree.showControls .textWrapper:hover, 
.ektron-ui-tree.ektron-ui-taxonomyTree.showControls .clickable:hover
{
    color: #000000;
}

.ektron-ui-tree-taxonomy.ektron-ui-tree-branch span.ui-icon
{
    background-image: url(../../../../../images/silk/icons/chart_organisation.png);
}

.ektron-ui-tree-taxonomy.ektron-ui-tree-leaf span.ui-icon {
    background-image: url(../../../../../images/silk/icons/page.png);
}

.ektron-ui-tree-taxonomy.ektron-ui-tree-branch.loading > .hitLocation > div > span.ui-icon
{
		background: url(../../../../../images/rotatingArrowsBlack.png) no-repeat center center transparent;
}