﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="logout.aspx.cs" Inherits="Workarea_logout" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Logout</title>
    </head>
    <body>
        <form id="form1" runat="server">
            <h1>Logout</h1>
        </form>
    </body>
</html>
