﻿.ektronPageContainer {
    padding: 10px 10px 0px 10px;
}

.deviceGroupDescription {
    margin-bottom: 1.5em;
}

.WURFLUpdateDiv {
    margin-bottom: 1.5em;
}

.wurflUpdateStatus {
    font-size: smaller;
}

.flexGrid th, .flexGrid .oneLine {
    white-space: nowrap;
}

.flexGrid td.primary {
    width: 100%;
}

.flexGrid .reorderDown {
    margin-top: 2px;
}

.GridHeader th {
    padding-left: 5px!important;
    padding-right: 5px!important;
    text-align: center;
}

.ui-dialog-title {
    font-weight: bolder;
}

.ektron-ui-dialog {
    margin: 1.5em;
}

.ektron-ui-dialog h1 {
    font-size: medium;
    font-weight: bold;
}

.templateList {
    margin: -1.2em 2.5em 1.0em 0.2em;
}

.ektron-ui-dialog > b {
    margin-top: 1.5em;
}
