// ---------------------------------------------------------------------------
// Imports

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 0.7em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;
 
 
@mixin clear{
	&:before, &:after{
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}

	*zoom: 1;
}

@mixin triangle($side, $width, $height, $color) {
    width: 0;
    height: 0;
    border-style: solid;

    @if ($side == 'top') {
        border-width: 0 ($width/2)+0px $height+0px ($width/2)+0px;
        border-color: transparent transparent $color transparent;
    }
    @else if ($side == 'right') {
        border-width: ($height/2)+0px 0 ($height/2)+0px $width+0px;
        border-color: transparent transparent transparent $color;
    }
    @else if ($side == 'bottom') {
        border-width: $height+0px ($width/2)+0px 0 ($width/2)+0px;
        border-color:$color transparent transparent transparent;
    }
    @else {
        border-width: ($height/2)+0px $width+0px ($height/2)+0px 0;
        border-color: transparent $color transparent transparent;
    }
}

/*
Include a lt-ie9 selector for breakpoints so that browsers <= IE8
can still show default desktop styles and leave out the mobile styles without
needing to use respond.js or some other JS tool to make them aware of media queries.
*/
@mixin breakpoint($break) {
    @include at-breakpoint($break) {
        @content;
    }
    .lt-ie9 & {
        @content;
    }
    @media print {
        @content;
    }
}

/*-- Font Size --*/

$base-font-size: 14px;
$base-line-height: 16px;

/*-- SUSY grid size --*/

$breakpoint: 40em;
$main-max-width: 100%;
$column-width: 3em;

/*-- Media Queries --*/

@function pxtoem($px, $base: $base-font-size){
	@return ($px / $base) + 0em;
}

$iphone-portrait: pxtoem(320px);
$iphone-landscape: pxtoem(645px);

$ipad-portrait: pxtoem(767px);
$ipad-landscape: pxtoem(1000px);
$eleven-hundred: pxtoem(1100px);

/*-- Color Scheme --*/

$white: #fff;
$black: #5a5a5a;
$blue: #003554;
$darkblue: #003554;
$lightblue: #485772;
$mediumblue: #00aeef;
$orange: #f15a22;
$gray: #f4f4f5;
$darkGray: #464646;
$mapgray: #95a4ab;
$maplightgray: #e1e2e4;
$red: #e51b24;
$light-purple: #c0b3cb;

$navReallyLightBlue: #737a90;
$navLightBlue: #485772;
$navMediumBlue: #485772;
$navDarkBlue: #003554;
$navGray: #ced5d7;
$navLightGray: #edf1f1;
$navMobileLightGray: #e6e6e6;
$leftNavBorder: #e2e2e2;
$navBorderLightBlue: #737a90;
$navBorderBlue: #485772;
$subNavRootBorderBlue: #003554;
$subNavItemBorderBlue: #485772;
$subNavThirdLevelBorder: #d1d0d5;