@mixin imageDefaults {
    color: #fff;
    margin-top: 0;
    display: block;
    background-color: transparent;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    text-decoration: none;
    min-height: initial;
    text-align: center;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.widgetHeader {
    .actions {
        a {
            body #inner #innerContent &,
            body #iconBar &,
            body #home #iconBar & {
                @include imageDefaults;
            }
        }
    }
}
