@import "base";
@import "precision-plus-fonts";

$pp-img: (
	logo: "/library/precision-plus/images/2010-PP-Logo.png",
	header-bg: "/library/precision-plus/images/pp-header-background.jpg",
	footer-bg: "/library/precision-plus/images/pp-footer-bg.jpg",
);

$pp-color: (
	text: $darkGray,
	white: #fff,
	black: #111,
	red: #da251a,
	light-red: lighten(#da251a, 15%),
	red-border: #da251c,
	blue: #4079a4,
	darkBlue: $darkblue,
	gray-bg: #f4f4f6,
	form-border-gray: #a7a9ac,
	gray: $gray,
	nav-gray: darken(#f4f4f6, 5%),
	nav-border: $light-purple,
	header-text: black,
	leftnav-text: black,
);

BODY.precision-plus {

	// Color should stay #464646 by default
	// color: map-get($pp-color, black);
	font-family: $pp-font-text;

	H2, H3 {
		color: map-get($pp-color, darkBlue);
	}
	H3 {
		border-top-color: map-get($pp-color, red-border);
		border-bottom-color: map-get($pp-color, blue);

		&:before {
			color: map-get($pp-color, red);
		}
	}

	HR {
		color: map-get($pp-color, red);
		background-color: map-get($pp-color, red);
	}

	> FORM .icon, > FORM .icon:hover {
		background-color: map-get($pp-color, red);
	}
	.orange .btn, .orange .icon {
		background-color: map-get($pp-color, red) !important;
	}
	.form-heading {
		display: block;
	}
	.ip {
		color: map-get($pp-color, text);
		border-color: map-get($pp-color, form-border-gray);
	}
	#form {
		// background-color: map-get($pp-color, gray);
	}
	.req {
		color: map-get($pp-color, red);
	}

	.form-item {
		margin-bottom: 5px;

		&.required {
			> LABEL,
			> SPAN:first-child {
				&:after {
					content: '*';
					display: inline;
					margin-left: 4px;
					color: map-get($pp-color, red);
				}
			}
		}

		INPUT {
			&[type=checkbox] {
				display: inline;
				width: auto;
			}
		}

		.submitBtn {
			float: right;
			margin-top: .5em;
			background-color: map-get($pp-color, red);

			&:hover {
				background-color: map-get($pp-color, light-red);
			}
		}
	}

	.keywordSearch {
		A {
			.icon-right {
				background-color: $red;
			}
		}
	}
	
	.orange A {
		color: $red !important;
	}

	#header {
		background: transparent url(map-get($pp-img, header-bg)) no-repeat center center;

		#headerContent {
			&:before {
				content: ' ';
				display: none;
				height: 28px;
				vertical-align: middle;
			}

			> * {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				box-sizing: border-box;

				display: inline-block;
				vertical-align: middle;
				width: auto;
			}
			> A {
				text-decoration: none;

				& + SPAN {
					display: none;
				}
			}

			> .login, > .register {
				display: none;
			}
			@include at-breakpoint($ipad-landscape) {
				text-align: right;
				
				&:before {
					display: inline-block;
				}

				> .login, > .register {
					display: inline-block;

					& + SPAN {
						display: inline;
						color: map-get($pp-color, nav-border);
						margin: 0 4px;

						&:last-of-type {
							margin-right: 0;
						}
					}
				}

			}

			#language {
				@include at-breakpoint($ipad-landscape) {
					height: 28px;
					float: none;
					display: inline-block;
					margin-bottom: 0;
				}
				.dropdown {
					@include breakpoint($ipad-portrait) {
						top: 0;
					}
					@include breakpoint($ipad-landscape) {
						text-align: left;
					}
				}
			}
			#contact {
				@include breakpoint($ipad-portrait) {
					float: none;
					display: inline-block;
				}

				A {
					display: inline-block;
				}
			}
			#search {
				display: inline-block;

				@include breakpoint($ipad-portrait) {
					width: 178px;
					float: none;
					display: inline-block;
				}
				@include breakpoint($ipad-landscape) {
					margin-right: -6px;

				.toggle {
					border-left: none;
					border-right: 1px solid #ced5d7;

					@include breakpoint($ipad-portrait) {
						border-right: 0;
					}
				}
				}
				.field {
					display: none;

					@include at-breakpoint($ipad-portrait) {
						top: -3px;
						display: block;
					}
				}
			}
		}

		#logo {
			width: auto;
		}

		#mobileWrap {
			.headerContentWrap {
				#headerContent {
					position: relative;

					> H2 {
						font-family: $pp-font-header;
						font-size: 24px;
						text-transform: uppercase;
						color: map-get($pp-color, red);
						display: inline;
						position: absolute;
						width: 400px;
						right: 0;
						top: 80px;
						margin: 0;
					}
				}
			}
		}

		#topNavigation {
			background-color: map-get($pp-color, black);

			#nav {
				UL.nav {
					background-color: map-get($pp-color, black);

					> LI {

						&.webshop {
							A:before {
								border-color: transparent transparent transparent map-get($pp-color, white) !important;
							}

							&:hover {
								> A {
									&:before {
										border-color: transparent transparent transparent map-get($pp-color, blue) !important;
									}
								}
							}
						}

						> A {
							color: map-get($pp-color, white);
							font-weight: 400;

							&:before {
								border-color: transparent transparent transparent map-get($pp-color, white);
							}
						}

						&:hover {
							// background-color: map-get($pp-color, black);

							> A {
								color: map-get($pp-color, black);
								text-decoration: none;
								// background-color: map-get($pp-color, black);

								&:before {
									border-color: transparent transparent transparent map-get($pp-color, blue);
								}
							}
						}

						UL.subnav {
							LI {

								&:hover {
									background-color: map-get($pp-color, blue);
								}
							}

							LI.subnav {
								&:before {
									border-color: transparent transparent transparent map-get($pp-color, blue);
								}

								&:hover {
									&:before {
										border-color: transparent transparent transparent map-get($pp-color, white);
									}
								}

								> UL.subnav {
									background-color: map-get($pp-color, blue);
								}
							}
						}
					}
				}
			}
		}
	}

	#home {
		.callout {
			&.left {
				A {
					&:hover {
						.icon {
							color: map-get($pp-color, black);
							background-color: map-get($pp-color, red);
						}
					}
				}
			}
			&.right {
				A {
					&:hover {
						.block, H4 {
							color: map-get($pp-color, black);
							// background-color: map-get($pp-color, red);
						}
					}
				}
			}
		}
	}

	#homeSlideshowContainer {
		#homeSlideshowNav {
			.homePrev, .homeNext {
				background-color: map-get($pp-color, red);
				border-color: map-get($pp-color, white);

				&:hover {
					color: map-get($pp-color, red);
					background-color: map-get($pp-color, white);
					border-color: map-get($pp-color, red);

					&:before {
						color: map-get($pp-color, red);
					}
				}
			}
		}
	}

	#slideshowContainer {
		#slideshowNav {
			.prev, .next {
				background-color: map-get($pp-color, red);
				border-color: map-get($pp-color, red);
				// border: none;

				&:before {
					color: map-get($pp-color, white);
				}
				&:hover {
					background-color: map-get($pp-color, white);
					color: map-get($pp-color, red);
					// border-size: 1px;
					// border-style: solid;
					border-color: map-get($pp-color, red);

					&:before {
						color: map-get($pp-color, red);
					}
				}
			}
		}
		#slideshowWrap {
			#slideshow {
				UL {
					LI {
						.caption {
							background-color: map-get($pp-color, blue);
						}
					}
				}
			}
		}

		&.wide {
			#slideshowNav {
				.prev, .next {
					// border-color: map-get($pp-color, white);
					// border: none;

					// &:hover {
					// 	border-size: 2px;
					// 	border-style: solid;
					// }
				}
			}
		}
	}

	#iconBar {
		A {
			color: map-get($pp-color, text);
			border-top: 1px solid map-get($pp-color, blue);

			STRONG, &:before {
				color: map-get($pp-color, red);
			}

		}
	}

	#inner {
		#innerContent {
			H1 {
				color: map-get($pp-color, header-text);
			}

			EM {
				color: map-get($pp-color, blue);
			}

			#featuredEvent {
				H1 {
					background-color: map-get($pp-color, blue);
				}
			}
			#accordion {
				.toggle {
					border-top-color: map-get($pp-color, blue);

					.icon {
						background-color: map-get($pp-color, red);
					}
				}
				STRONG {
					color: map-get($pp-color, blue);
				}
			}
			.callout {
				A {
					color: map-get($pp-color, blue);
				}
			}
		}

		#innerCallouts {
			A {
				color: map-get($pp-color, blue);
			}
		}

		#leftNavigation {
			A {
				color: map-get($pp-color, leftnav-text);
			}

			> UL {
				> LI.subnav {
					> A {
						&:before {
							border-color: transparent transparent transparent map-get($pp-color, red);
						}
					}
				}
			}
		}
	}

	#footer {
		background: transparent url(map-get($pp-img, footer-bg)) no-repeat center center;
		border-top: 5px solid map-get($pp-color, black);

		UL {
			LI {
				font-size: 12px;

				&:first-child {
					A {
						color: map-get($pp-color, red);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $ipad-portrait) {

	BODY.precision-plus {

		H2, H3 {
		}
		H3 {

			&:before {
			}
		}

		HR {
		}

		> FORM .icon, > FORM .icon:hover {
		}
		.orange .btn, .orange .icon {
		}
		.form-heading {
		}
		.ip {
		}
		#form {
		}
		.form-item {
			LABEL {
				.req {
				}
			}

			.submitBtn {

				&:hover {
				}
			}
		}

		#header {

			#logo {
			}

			#mobileWrap {
				.headerContentWrap {
					#headerContent {

						> H2 {
							display: none;
						}
					}
				}
			}

			#topNavigation {
				background-color: transparent;

				.toggle.selected {
					background-color: map-get($pp-color, gray-bg);
				}

				#nav {
					UL.nav {
						background-color: map-get($pp-color, gray-bg);
						border-color: map-get($pp-color, form-border-gray);

						.navIcon {
							&:before {
								border-color: transparent transparent transparent map-get($pp-color, red);
							}
						}
						LI.subnav.selected > A > .navIcon {
							&:before {
								border-color: transparent transparent transparent map-get($pp-color, white);
							}
						}
						LI.subnav.selected .subnav.selected > A > .navIcon {
							&:before {
								border-color: transparent transparent transparent map-get($pp-color, red);
							}
						}

						> LI {
							border-color: map-get($pp-color, form-border-gray);

							&.selected {
								background-color: map-get($pp-color, blue);
								> A {
									color: map-get($pp-color, white);
									background-color: map-get($pp-color, blue);
									border-color: map-get($pp-color, form-border-gray);
								}
							}

							&.webshop {
								A:before {
								}

								&:hover {
									> A {
										&:before {
										}
									}
								}
							}

							> A {
								color: map-get($pp-color, text);

								&:before {
								}
							}

							&:hover {

								> A {
									&:before {
									}
								}
							}

							UL.subnav {
								background-color: map-get($pp-color, nav-gray);

								LI {
									border-color: map-get($pp-color, form-border-gray);

									&:hover {
										background-color: map-get($pp-color, nav-gray);
									}
									A {
										color: map-get($pp-color, text);
									}
								}

								LI.subnav {
									&:before {
									}

									&:hover {
										&:before {
										}
									}

									> UL.subnav {
										background-color: map-get($pp-color, gray-bg);

										> LI:first-child {
											border-top: 1px solid map-get($pp-color, form-border-gray);
										}
									}
								}
							}
						}
					}
				}
			}
		}

		#home {
			.callout {
				&.left {
					A {
						&:hover {
							.icon {
							}
						}
					}
				}
				&.right {
					A {
						&:hover {
							.block, H4 {
							}
						}
					}
				}
			}
		}

		#homeSlideshowContainer {
			#homeSlideshowNav {
				.homePrev, .homeNext {

					&:hover {

						&:before {
						}
					}
				}
			}
		}

		#slideshowContainer {
			#slideshowNav {
				.prev, .next {

					&:before {
					}
					&:hover {

						&:before {
						}
					}
				}
			}
			#slideshowWrap {
				#slideshow {
					UL {
						LI {
							.caption {
							}
						}
					}
				}
			}

			&.wide {
				#slideshowNav {
					.prev, .next {
					}
				}
			}
		}

		#iconBar {
			A {

				STRONG, &:before {
				}

			}
		}

		#inner {
			#innerContent {
				EM {
				}

				#featuredEvent {
					H1 {
					}
				}
				#accordion {
					.toggle {

						.icon {
						}
					}
					STRONG {
					}
				}
				.callout {
					A {
					}
				}
			}

			#innerCallouts {
				A {
				}
			}

			#leftNavigation {
				> UL {
					> LI.subnav {
						> A {
							&:before {
							}
						}
					}
				}
			}
		}

		#footer {

			UL {
				LI {

					&:first-child {
						A {
						}
					}
				}
			}
		}
	}
}
