@import "screen";

// #showHide,
// #homeSlideshowContainer,
// #slideshowContainer,
#header #topNavigation,
#header #headerContent,
// #leftNavigation,
// #inner #innerCallouts,
#breadcrumbs,
#banner,
// #homeToggle,
#search,
#contact,
#footer,
// #marketContainer,
// #inner #innerContent #featuredEvent .months,
// iframe,
// .one-third,
.keywordSearch
{
    display: none !important;
}

#header {
    background-image: none;
    background: $white;
}

#inner #innerContent #accordion .expandable {
    display: block;
}

#inner #innerCallouts .callout .block,
.block,
#iconBar A
{
    background-color: $white;
}

// .containerWrap,
// #inner #innerContent.three-col,
// #inner #innerContent.two-col,
// .two-thirds
// {
//     width: 100%;
//     max-width: 100%;
// }

// .form-item INPUT, .btn {
//     display: none !important;
// }

#productContainer {
    #productNav, #productWrap {
        display: none;
    }
    #productWrap-print {
        display: block;
        #productSlideshow-print {
            display: block;
            UL {
                LI {
                    display: block;
                    padding: 0;
                    margin: 10px 0;
                    @include clearfix;

                    IMG {
                        float: left;
                    }
                }
            }
        }
    }
}


