// ---------------------------------------------------------------------------
// Imports
 

@import "base";
@import "fontcustom";
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";

/* Apply a natural box layout model if needed to fix layout issues. */
@mixin borderBoxModel {
	@include box-sizing(border-box);
}

$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

// IE9 SVG, needs conditional override of 'filter' to 'none'
$experimental-support-for-svg: true;

/*-- Color Scheme --*/

$white: #fff;
$black: #464646;

/*-- Base Styles --*/

HTML, BODY, FORM {
	height: 100%;
}

BODY {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $darkGray;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

FORM {
	display: inline; 
}

.lt-ie10 {
	body {
		overflow-x: visible;

		> form {
			display: block;
			overflow-x: hidden;
		}
	}
}

H1 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	@include breakpoint($ipad-portrait) {
		font-weight: normal;
		font-size: 24px;
		line-height: 26px;
	}
	color: $blue;
	margin: 0 0 5px;
}

H2 {
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	color: $blue;
	margin: 0 0 5px;
}

H3 {
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	color: $blue;
	padding: 10px 0;
	margin: 20px 0 0;
	border-top: 5px solid $blue;
	border-bottom: 1px solid $blue;
	&:before {
		float: right;
		font-size: 30px;
		margin-top: -5px;
	}
}

H4 {
	font-size: 17px;
	font-weight: bold;
	line-height: $base-line-height;
	color: $blue;
	margin: 10px 0;	
}

P {
	margin: 10px 0;
}

A {
	color: $black;
	text-decoration: underline;
	cursor: pointer;

	&.empty {
		cursor: default;
	}
}
A:hover {
	color: $black;
	text-decoration: none;
}

A, IMG, OBJECT, INPUT {
	outline: none;
}

BLOCKQUOTE {
	margin: 10px 20px;
	padding: 0;
}

HR {
	border: none;
	height: 4px;
	margin: 20px 0;
	padding: 0;
	color: $blue;
	background-color: $blue;
	clear: both;
}

INPUT {
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-appearance: none;
	&[type=checkbox]{
		-webkit-appearance: checkbox;
	}
		&[type=radio]{
		-webkit-appearance: radio;
	}
}

IMG {
	display: block;

	.callout & {
		width: 100%;
	}
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color: transparent;
}

/*-- Specific Styles --*/

.error {
	color: $red;
}

.containerWrap {
	min-width: 290px;
	@include breakpoint($iphone-landscape) {
		max-width: 750px;
		min-width: 480px;
	}
	@include breakpoint($ipad-portrait) { 
		max-width: 940px;
	}
	@include breakpoint($ipad-landscape) { 
		padding: 0;
	}
	margin: 0 auto;
	display: block;
	padding: 0 15px;
}

.ip {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	border: 1px solid $black;
	color: $black;
	padding: 4px 5px;
	margin: 0;
	vertical-align: top;
}

.btn {
	position: relative;
	background-color: $blue;
	@include border-radius(10px);
	margin-top: 1px;
	INPUT {
		position: relative;
		border: none;
		background-color: transparent;
		display: block; 
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 0;
		cursor: pointer;
		text-indent: -9999px;
		z-index: 2;
	}
	&:after {
		position: absolute;
		top: 3px;
		left: 6px;
		content: ' ';
		display: block;
		@include triangle(right, 6px, 11px, $white);
		z-index: 1;
	}
	&:hover {
		background-color: $orange;
	}
}

.clear {
	clear: both;
}

.alignleft {
	width: 100%;
	@include breakpoint($ipad-portrait){
		float: left;
		width: auto;
		margin-right: 20px;
	}
}

.alignright {
	width: 100%;
	@include breakpoint($ipad-portrait){
		float: right;
		width: auto;
		margin-left: 20px;
	}
}

.alignnone {
	width: 100%;
}

.alignMiddle {
	margin: auto;
}

.black {
	color: #000;
}

.blue {
	H3 {
		color: $mediumblue;
		border-color: $mediumblue;
	}
	H4 {
		color: $mediumblue;
	}
	STRONG, A {
		color: $mediumblue !important;
	}
	LI:before {
		border-color: transparent transparent transparent $mediumblue !important;
	}
	.ip {
		border-color: $mediumblue;
	}
	.btn, .icon {
		background-color: $mediumblue !important;
	}
	color: $black;
}

.orange {
	H3 {
		color: $orange;
		border-color: $orange;
	}
	H4 {
		color: $orange;
	}
	STRONG, A {
		color: $orange !important;
	}
	LI:before {
		border-color: transparent transparent transparent $orange !important;
	}
	.ip {
		border-color: $orange;
	}
	.btn, .icon {
		background-color: $orange !important;
	}
	color: $black;
}

.data-table {
	width: 100%;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 1px solid #000;
	TD {
		border-top: 1px solid #000;
		padding-right: 10px;
	}
}

.full-width {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(12 omega,12);
	}
}
.one-half {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(6,12);
	}
}

.one-third {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(4,12);
	}
}

.two-thirds {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(8,12);
	}
}

.one-fourth {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(3,12);
	}
}

.three-fourth {
	@include breakpoint($ipad-portrait) { 
		@include span-columns(9,12);
	}
}

.one-half, .one-third, .two-thirds, .one-fourth, .three-fourth, .three-col {
	@include breakpoint($ipad-portrait) { 
		.one-half {
			@include span-columns(3,6);
		}
	}
}

.omega {
	@include breakpoint($ipad-portrait) { 
		@include omega;
	}
}

.block {
	background-color: $gray;
	padding: 10px;
	@include clear;
	A {
		color: $black;
	}
}

.icon {
	position: relative;
	display: inline-block;
	background-color: $blue;
	@include border-radius(10px);
	width: 16px;
	height: 16px;
	top: 3px;
	margin-left: 5px;
	&:after {
		position: absolute;
		top: 3px;
		left: 6px;
		content: ' ';
		display: block;
		@include triangle(right, 6px, 11px, $white);
	}
}

.st_sharethis_custom {
	font-size: 11px;
	background: url(/library/images/common/share-this-icon.png) center left no-repeat;
	padding: 1px 0 1px 20px;
	cursor: pointer;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.video {
	position: relative;
	display: block;
	&:before {
		content: ' ';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		display: block;
		width: 51px;
		height: 50px;
		background: url(/library/images/common/play-icon.png);
	}
}

.form-item {
	position: relative;
	display: block;
	option:hover {
			background-color: #a48bb6;
		}
	+ .form-item {
		margin-top: 20px;
	}
	LABEL {
		font-size: 14px;
		color: $black;
		display: block;
		margin-bottom: 10px;
	}
	INPUT {
		width: 95%;
		padding: 4px 2%;

		&.query {
			width: 50%;
		}
	}
	TEXTAREA {
		width: 95%;
		padding: 4px 2%;
		min-height: 60px;
		overflow: auto;
	}
	SELECT {
		width: 100%;
		padding: 4px 2%;
	}
	.btn {
		width: 16px;
		height: 16px;
		background-color: $blue;
		@include border-radius(10px);
		top: 5px;
		right: 6px;
		display: inline-block;
		position: absolute;
	}
	.submitBtn {
		font-size: 16px;
		line-height: 18px;
		color: $white;
		border: none;
		background-color: $blue;
		padding: 5px 10px;
		width: auto;
		cursor: pointer;
		&:hover {
			background-color: #95a3ab;
		}
	}
	.phone-number {
		display: block;
		width: 100%;

		> .ip {
			display: inline;
			vertical-align: baseline;
			width: 15%;

			&:last-child {
				width: 25%;
			}
		}
	}
}

#wrap {

}

#header {
	@include clear;
	// @include breakpoint($ipad-portrait) {
	// 	@include filter-gradient(#ffffff, #cdd5d7, vertical); // IE6-8
	// 	background-color: #ffffff; // Older browser fallback.
	// 	@include background-image(linear-gradient(top, #ffffff 0%, #cdd5d7 100%));
	// }
	// .ie9 & {
	// 	@include filter-gradient(#ffffff, #cdd5d7, vertical);
	// }
	padding: 0 15px;

	@include breakpoint($ipad-portrait) {
		padding: 0;
	}

	.logoWrap {
		max-width: 940px;
		margin: 0 auto;
	}

	#topLinks {
		@include adjust-font-size-to(10px);
		LI {
			display: inline-block;
		}
	}
	#mobileWrap {
		@include clear;
		margin-bottom: 20px;
		border: 1px solid $navGray;
		position: relative;
		@include breakpoint($ipad-portrait){
			margin-bottom: 0;
			border: none;
		}
	}
	.headerContentWrap {
		max-width: 940px;
		margin: 0 auto;
	}
	#headerContent {
		@include breakpoint($ipad-portrait){
			margin-top: 10px;
			@include span-columns(5 omega,12);
		}
		#language {
			width: 33.3%;
			float: right;
			margin-right: 0;
			display: inline;
            z-index: 102;
			
			@include breakpoint($ipad-portrait){
				position: relative;
				width: 16.85393%;
				float: right;
				margin-right: 0;
				display: inline;
				margin-bottom: 10px;
			}
			.toggle {
				width: 100%;
				height: 35px;
				background: url(/library/images/common/language-1.png) center center no-repeat;
				display: block;
				&.selected {
					background: $navGray url(/library/images/common/language-1.png) center center no-repeat;
				}
				@include breakpoint($ipad-portrait){
					display: none;
				}
			}
			.dropdown {
				display: none;
				border: 1px solid $navGray;
				overflow: hidden;
				position: absolute;
				left: -1px;
				line-height: 28px;
				width: 100%;
				@include breakpoint($ipad-portrait){
					left: 0;
					border: 1px solid transparent;
					width: 45px;
					display: block !important;
					height: 28px;
					@include transition(height .25s ease-in-out);
				}
				z-index: 6;
				
				&.active {
					border: 1px solid $navGray;
					//height: 110px;
					height: auto;

					&:after {
						@include transition(transform .25s ease-in-out);
						@include transform(rotate(180deg));
						border-color: $white transparent transparent transparent;
					}
					A {
						color: $white;
						background-color: $blue;
						&:hover {
							background-color: $lightblue;
						}
					}

				}
				@include breakpoint($ipad-portrait){
					&:after {
						@include triangle(bottom, 6px, 3px, $blue);
						content: '';
						width: 0;
						height: 0;
						display: block;
						position: absolute;
						top: 12px;
						right: 7px;
					}
					&:hover {
						&:after {
							border-color: $white transparent transparent transparent;
						}
					}
				}
				UL {
					LI {
						border-top: 2px solid #795894;
						&:first-child {
							border-top: none;
						}
						@include breakpoint($ipad-portrait){
							border: none;
						}
						A {
							text-decoration: none;
							color: $white;
							background-color: $blue;
							@include breakpoint($ipad-portrait){
								color: $blue;
								background-color: transparent;
							}
							font-weight: bold;
							padding-left: 10px;
							display: block;
							
							@include transition(background-color .25s ease-in-out);
							&:hover {
								@include breakpoint($ipad-portrait){
									color: $white;
									background-color: $blue;
								}
							}
						}
					}
				}
			}
		}
		#contact {
			display: none;
			@include breakpoint($ipad-portrait){
				width: 19.85393%;
				float: right;
				margin-right: 0.93258%;
				display: inline;
			}
			margin-bottom: 10px;
			A {
				@include adjust-font-size-to(14px);
				line-height: 17px;
				margin-top: 7px;
				font-weight: bold;
				display: block;
				color: $blue;
				text-decoration: none;
				border-right: 1px solid #795894;
				&:hover {
					text-decoration: underline;
				}
			}
		}
        #returnToMain {
            display: none;
			@include breakpoint($ipad-portrait){				
				float: right;
				margin-right: 25px;
                display: block;
			}
			A {
				@include adjust-font-size-to(14px);
				position: relative;
                line-height: 17px;				
				font-weight: bold;
				display: block;
				color: $blue;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
                &:after {
		            position: absolute;
		            top: 4px;
		            right: -10px;
		            content: ' ';
		            display: block;
		            @include triangle(right, 6px, 11px, $blue);
		            z-index: 1;
	            }
			}
		}
		#search {
			width: 33.3%;
			float: right;
			margin-right: 0;
			display: inline;
			
			@include breakpoint($ipad-portrait){
				width: 59.42697%;
				float: left;
				margin-right: 2.93258%;
				display: inline;
				position: relative;
			}
			
			.toggle {
				width: 100%;
				height: 35px;
				background: url(/library/images/common/search-1.png) center center no-repeat;
				display: block;
				border-left: 1px solid $navGray;
				&.selected {
					background: $navGray url(/library/images/common/search-1.png) center center no-repeat;
				}
				@include breakpoint($ipad-portrait){
					background: url(/library/images/common/search-0.png) 0 0 no-repeat;
					width: 15px;
					height: 15px;
					float: right;
					border-left: none;
					border-right: 1px solid #795894;
					margin-top: 7px;
					padding-right: 10px;
				}
			}
			.fieldWrap {
				padding: 10px;
				@include breakpoint($ipad-portrait){
					padding: 0;
				}
			}
			.field {
				position: absolute;
				left: -1px;
				width: 100%;
				background-color: $navGray;
				border: 1px solid $navGray;
				z-index: 6;
				@include breakpoint($ipad-portrait){
					left: auto;
					right: 5px;
					padding: 4px 5px;
					background-color: $white;
				}
				display: none;
				&.active {
					display: block;
				}
				.ip {
					color: $blue;
					border: none;
					padding: 0;
					width: 100%;
					text-indent: 5px;
					line-height: 25px;
					@include breakpoint($ipad-portrait){
						text-indent: 0;
						width: 85%;
						line-height: 20px;
					}
					
				}
			}
			.btn {
				position: absolute;
				right: 15px;
				top: 12px;
				@include breakpoint($ipad-portrait){
					position: static;
				}
				float: right;
				background: url(/library/images/common/search-0.png) 0 0 no-repeat;
				margin-top: 2px;
				margin-right: 0;
				width: 15px;
				height: 18px;
				INPUT {
					position: relative;
					border: none;
					background-color: transparent;
					display: block;
					width: 15px;
					height: 15px;
					padding: 0;
					margin: 0;
					cursor: pointer;
					text-indent: -9999px;
					z-index: 2;
				}
				&:after {
					display: none;
				}
			}
		}
	}
	#logo {
		position: relative;
		z-index: 101;
		clear: both;
		margin-top: 20px;
		margin-bottom: 20px;
		@include breakpoint($ipad-portrait){
			clear: none;
			margin-bottom: 0;
			@include span-columns(3,12);
		}
		IMG {
			width: 50%;
			margin: 0 auto;
			@include breakpoint($ipad-portrait){
				width: 100%;
			}
		}
	}

	@mixin navIcon {
		display: block;
		height: 30px;
		width: 52px;
		content: ' ';
		border: none;
		padding: 5px 0;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;

		&:before {
			@include transition(transform .25s ease-in-out);
			@include triangle(right, 8px, 13px, $blue);
			content: '';
			display: block;
			position: absolute;
			right: 16px;
			top: 20px;
		}
	}
	////////////////////////////////////////////////////////////////////////////////
	// Top navigation Mobile.
	#topNavigation {
		width: 33.3%;
		float: left;
		margin-right: 0;
		display: inline;

		.toggle {
			width: 100%;
			height: 35px;
			background: url(/library/images/common/menu-0.png) center center no-repeat;
			display: block;
			border-right: 1px solid $navGray;
			&.selected {
				background: $navGray url(/library/images/common/menu-0.png) center center no-repeat;
			}
		}
		UL.nav {
			display: none;
			position: absolute;
			width: 100%;
			z-index: 6;
			left: -1px;
			border: 1px solid $navGray;
			@include clear;
			background-color: $navGray;
			margin: 0;

			> LI {
				position: relative;
				display: block;
				border-top: 1px solid $navBorderLightBlue;

				&:first-child {
					border-top: none;
				}
				&.webshop {
					A {
						color: $orange;
						&:before {
							@include triangle(right, 6px, 11px, $orange);
							border-color: transparent transparent transparent $orange !important;
						}
					}
				}
				> A {
					color: $blue;
					background-color: transparent;
					padding: 5px 0 5px 15px;
					.navIcon {
						display: none;
					}
				}
				&.subnav {
					> A {
						.navIcon {
							@include navIcon;
							@include breakpoint($ipad-portrait) {
								display: none;
							}
						}
					}
				}
				&.selected {
					> A {
						border-bottom: 1px solid $subNavRootBorderBlue;
						padding: 5px 0 5px 15px;
						font-weight: bold;
						background-color: $navLightBlue;
						color: $white;

						.navIcon {
							&:before {
								@include triangle(right, 8px, 13px, $white);
								@include rotate(90deg);
							}
						}
					}
				}
				A {
					@include adjust-font-size-to(14px);
					font-weight: normal;
					color: $blue;
					display: block;
					text-decoration: none;
					padding-left: 15px;
					position: relative;
				}
				UL.subnav {
					background-color: $navLightBlue;
					display: none;
					LI {
						position: relative;
						padding: 10px 0 5px 10px;
						border-bottom: 1px solid $subNavItemBorderBlue;
						&:hover {
							color: $white;
							> A {
								color: $white;
								text-decoration: none;
							}
							background-color: $navReallyLightBlue;
						}

						&:last-child {
							border-bottom: none;
						}

						A {
							font-size: 12px;
							display: block;
							padding: 0 0 0 15px;
							font-weight: normal;
							text-decoration: none;
							color: $white;
							&:before {
								top: 8px;
							}
						}

						// LI that has a 3rd level
						&.subnav {
							padding: 0;

							> A {
								display: block;
								padding: 10px 0 5px 25px;

								> .navIcon {
									@include navIcon;
								}
							}

							&.selected {
								> A {
									> .navIcon {
										&:before {
											@include rotate(90deg);
										}
									}
								}
							}

							// 3rd level
							> UL.subnav {
								display: none;
								background-color: $navMobileLightGray;

								> LI {
									padding-left: 25px;
									border-color: $subNavThirdLevelBorder;
									&:hover {
										> A {
											color: $white;
										}
									}
									> A {
										color: $navDarkBlue;
										&:hover {
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	////////////////////////////////////////////////////////////////////////////////
	// Top navigation Desktop
	@include breakpoint($ipad-portrait) {
		#topNavigation {
			position: relative;
			z-index: 101;
			top: 25px;
			clear: both;
			width: 100%;
			background-color: $navLightGray;
			display: block;
			float: none;
			margin: 0 0 15px 0;

			.toggle {
				display: none;
			}
			#nav {
				max-width: 940px;
				margin: 0 auto;
				@include borderBoxModel;

				UL.nav {
					@include adjust-font-size-to(16px);
					@include borderBoxModel;
					position: static;
					display: block !important;
					border: none;
					background-color: transparent;
					margin: 0 auto;

					> LI {
						@include borderBoxModel;
						display: inline-block;
						margin: 0 -4px 0 0;
						width: columns(1, 7) + gutter(7);
						padding: 0;
						border-top: none;

						&:last-child {
							width: columns(1, 7);
						}
						&:hover {
							background-color: $navGray;
							> A {
								background-color: $navGray;
							}
						}
						&.subnav {
							&.twocolumn {
								UL.subnav {
									min-width: 400px;

									LI {
										width: 50%;
										float: left;
									}
								}
							}
						}
						&.subnav:hover {
							> UL.subnav {
								display: block !important;
							}
							> A {
								&:before {
									@include rotate(90deg);
									// @include transition(transform .25s ease-in-out);
									// top: 13px;
									// left: -2px;
									// @include triangle(bottom, 11px, 6px, $blue);
								}
							}
						}
						&.webshop {
							// @include omega;

							&.selected, &.subnav:hover {
								> A {
									&:before {
										// @include triangle(bottom, 11px, 6px, $orange);
										@include rotate(90deg);
									}
								}
							}
						}
                        &.webshop-right {
                            float: right;                            
                        }
						> A {
							@include borderBoxModel;
							font-weight: bold;
							&:before {
								position: absolute;
								top: 12px;
								left: 13px;
								content: ' ';
								display: block;
								@include transition(transform .25s ease-in-out);
								@include triangle(right, 8px, 13px, $blue);
							}
							&.active {
								&:before {
									// top: 13px;
									// left: -2px;
									// @include triangle(bottom, 11px, 6px, $blue);
									@include rotate(90deg);
								}
							}
							.navIcon {
								display: none;
							}
						}
						&.selected {
							A {
								background-color: transparent;
								color: $blue;
								padding: 0 15px 0 30px;
								border: none;
								font-weight: normal;
							}
						}
						A {
							@include borderBoxModel;
							padding: 0 15px 0 30px;
							&:hover {
								text-decoration: underline;
							}
						}
						UL.subnav {
							display: none !important;
							left: 0; //-10px;
							top: 36px;
							position: absolute;
							background-color: #cdd5d7;
							z-index: 10;
							min-width: 200px;

							LI {
								padding: 4px 0;
								border: none;
								&:hover {
									> UL.subnav {
										display: block !important;
									}
									> A {
										color: $white;
									}
								}

								A {
									color: $navDarkBlue;
									font-size: 12px;
									display: block;
									padding: 0 0 0 15px;
									font-weight: normal;
									text-decoration: none;
									&:before {
										top: 8px;
									}
									&:hover {
										color: $white;
									}
								}

								// LI of the 3rd level menu
								&.subnav {
									// padding-bottom: 0;
									&:before {
										display: block;
										content: ' ';
										position: absolute;
										top: 11px;
										right: 15px;
										@include transition(transform .25s ease-in-out);
										@include triangle(right, 8px, 13px, $blue);
									}
									> A {
										color: $navDarkBlue;
										&:hover {
											color: $white;
										}
										.navIcon {
											display: none;
										}
									}
									&:hover {
										&:before {
											border-color: transparent transparent transparent $white;
											@include rotate(90deg);
										}
										> A {
											color: $white;
											&:before {
												border: none;
											}
										}
									}
									> A, > A:hover {
										&:before {
											border: none;
										}
									}

									> UL.subnav {
										display: none;
										z-index: 20;
										position: absolute;
										top: 35px;
										// left: 160px;
										// left: 0;
										left: 80px;
										background-color: $navLightBlue;
										padding: 4px 0;

										> LI {
											padding: 0 4px;
											> A {
												color: $white;
												padding: 2px 0 2px 15px;
												&:hover {
													color: $navDarkBlue;
												}
											}
											&:hover {
												> A {
													color: $navDarkBlue;
													background-color: $navGray;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#banner {
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: top right;
    background-size: cover;
    height: 100px;

    @include at-breakpoint($ipad-portrait){
	    height: 160px;
        background-size: auto;
    }
    @include at-breakpoint($ipad-landscape){
	    background-position: top center;
    }
	.containerWrap {
		overflow:  hidden;
		display: table;
		height: 160px;
		width: 90%;
		padding: 0 5%;
		@include breakpoint($ipad-landscape) { 
			width: 100%;
			padding: 0;
		}
		IMG {
			margin: 0 auto;
		}
		#bannerCopy {
			@include adjust-font-size-to(20px);
			line-height: 24px;
			@include breakpoint($ipad-portrait) { 
				@include adjust-font-size-to(26px);
				line-height: 26px;
			}
			color: #95a3ab;
			font-weight: bold;
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			padding-bottom: 10px;
			&.purple {
				color: $blue;
			}
			STRONG {
				color: $white;
			}
		}
	}
}

#homeSlideshowContainer {
	position: relative;

    IMG{
        max-width: 100%;
    }

	#homeSlideshowNav {
		.homePrev, .homeNext {
			position: absolute;
			bottom: 0;
			width: 22px;
			height: 22px;
			@include border-radius(11px);
			display: block;
			background-color: $blue;
			border: 1px solid $blue;
			z-index: 3;
			text-decoration: none;
			&:before {
				font-size: 14px;
				display: block;
				color: $white;
				position: absolute;
				top: 3px;
				left: 7px;
			}
			&.inactive {
				@include opacity(0.5);
				cursor: default;
				&:hover {
					background-color: $blue;
				}
			}
			&:hover {
				&:before {
					color: $blue;
				}
				background-color: $white;
			}
		}
		.homePrev {
			left: 15px;
			&:before {
				content: '\003c';
			}
		}
		.homeNext {
			left: 45px;
			&:before {
				content: '\003e';
			}
		}
	}
	#homeSlideshowWrap {
		overflow: hidden;
		padding: 30px 0;
		position: relative;
	}
}

#homeToggle {
	margin-top: 20px;
	A {
		font-size: 11px;
		color: $blue;
		text-decoration: none;
		&.selected {
			font-weight: bold;
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

#slideshowContainer {
	position: relative;
	#slideshowNav {
		.prev, .next {
			position: absolute;
			top: 50%;
			width: 22px;
			height: 22px;
			@include border-radius(11px);
			border: 1px solid $blue;
			display: block;
			background-color: $blue;
			z-index: 3;
			text-decoration: none;
			&:before {
				font-size: 14px;
				display: block;
				color: $white;
				position: absolute;
				top: 3px;
				left: 7px;
			}
			&.inactive {
				@include opacity(0.5);
				cursor: default;
				&:hover {
					background-color: $blue;
				}
			}
			&:hover {
				&:before {
					color: $blue;
				}
				background-color: $white;
			}
		}
		.prev {
			left: 0;
			&:before {
				content: '\003c';
			}
		}
		.next {
			right: 0;
			&:before {
				content: '\003e';
			}
		}
	}
	#slideshowWrap {
		overflow: hidden;
		padding: 20px 20px 0 20px;
		position: relative;
		#slideshow {
 
   			UL {
				LI {
					color: $black;
					margin: 0 5px;
					padding: 0 20px;
					display: none;
					&:first-of-type {
						display: block;
					}
					@include breakpoint($ipad-portrait){
						padding: 20px;
					}
					position: relative;
					&:before {
						display: none;
					}
					STRONG {
						color: $blue;
					}
					A {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
					IMG {
						width: 100%;
					}
					.caption {
						font-size: 14px;
						line-height: 16px;
						@include breakpoint($ipad-portrait){
							font-size: 17px;
							line-height: 19px;
						}
						font-weight: bold;
						color: $white;
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						background-color: rgba(0, 53, 84, 1);
						padding: 10px 5%;
						width: 90%;
                        z-index: 2;
						.st_sharethis_custom {
							float: right;
							margin-left: 30%;
						}
					}

                    .video-wrapper {
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 39px; 
                        height: 0; 
                        overflow: hidden;
                        z-index: 1;
                           iframe, object, embed {
                               box-sizing: border-box;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100% !important;
                                height: 100% !important;
                                border-top: solid 39px white;
                            }
                    }
                    
                    .links {
						background-color: $blue;
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
						padding-left: 100px;
						A, SPAN {
							font-size: 11px;
							font-weight: bold;
							color: $white;
							padding: 5px;
							display: inline-block;
							text-align: center;
							background: none;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
							IMG {
								vertical-align: middle;
								display: inline;
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}
}


#slideshowContainer.wide {
	#slideshowWrap #slideshow LI {
		padding: 0;
	}
	@include breakpoint($ipad-portrait){
		#slideshowNav {
			.prev, .next {
				width: 54px;
				height: 54px;
				margin-top: -20px;
				@include border-radius(30px);
				border: 2px solid $blue;
				&:before {
					top: 16px;
					left: 19px;
					font-size: 30px;
				} 
			}
			.prev {
				left: -27px;
			}
			.next {
				right: -27px;
			}
		}
		#slideshowWrap {
			padding: 20px 100px 0 100px;
			#slideshow LI {
				margin: 0 10px;
				padding: 0;
				background: $white;
			}
		}
	}
}

#productContainer {
	position: relative;
	#productNav {
		.productPrev, .productNext {
			position: absolute;
			top: 50%;
			width: 54px;
			height: 54px;
			margin-top: -20px;
			@include border-radius(30px);
			border: 2px solid $blue;
			display: block;
			background-color: $blue;
			z-index: 3;
			text-decoration: none;
			&:before {
				display: block;
				color: $white;
				position: absolute;
				top: 16px;
				left: 19px;
				font-size: 30px;
			}
			&.inactive {
				@include opacity(0.5);
				cursor: default;
				&:hover {
					background-color: $blue;
				}
			}
			&:hover {
				background-color: $white;
				&:before {
					color: $blue;
				}
			}
		}
		.productPrev {
			left: -27px;
			&:before {
				content: '\003c';
			}
		}
		.productNext {
			right: -27px;
			&:before {
				content: '\003e';
			}
		}
	}
	#productWrap, #productWrap-print {
		overflow: hidden;
		padding: 0 20px;
		position: relative;
		#productSlideshow, #productSlideshow-print {
			UL {
				LI {
					color: $black;
					margin: 0 5px;
					padding: 20px;
					position: relative;
					&:before {
						display: none;
					}
					STRONG {
						color: $blue;
					}
					A {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	#productWrap-print, #productSlideshow-print {
		display: none;
	}
}

#marketContainer {
	background-color: $blue;
	position: relative;
	padding: 15px 0;
	&:before {
		background: $white;
		content: ' ';
		display: block;
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		margin-top: -11px;
	}
	&:after {
		@include triangle(bottom, 15px, 9px, $blue);
		content: ' ';
		display: block;
		position: absolute;
		z-index: 5;
		bottom: -9px;
		left: 57.4%;
		margin-left: -7px;
		margin-top: 12px;
	}

	> H4 {
		color: $white;
		margin: 0 0 0 20px;
	}
	> A {
		color: $white !important;
		margin: 0 0 0 20px;
	}
	#marketNav {
		.marketPrev, .marketNext {
			position: absolute;
			top: 50%;
			width: 22px;
			height: 22px;
			margin-top: -24px;
			@include border-radius(30px);
			display: block;
			background-color: $white;
			border: 2px solid $blue;
			z-index: 5;
			text-decoration: none;
			&:before {
				display: block;
				color: $blue;
				position: absolute;
				top: 4px;
				left: 8px;
				font-size: 14px;
			}
			&.inactive {
				@include opacity(0.5);
				cursor: default;
				&:hover {
					background-color: $blue;
				}
			}
			&:hover {
				&:before {
					color: $white;
				}
				border: 2px solid $white;
				background-color: $blue;
			}
		}
		.marketPrev {
			left: 0;
			&:before {
				content: '\003c';
			}
		}
		.marketNext {
			right: 0;
			&:before {
				content: '\003e';
			}
		}
	}
	#marketWrap {
		width: 84%;
		margin: 0 auto;
		&:before {
			@include triangle(bottom, 15px, 9px, $white);
			content: ' ';
			display: block;
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			@include breakpoint($ipad-portrait) {
				left: 57.5%;
			}
			margin-left: -7px;
			margin-top: -9px;
		}
		&:after {
			@include triangle(bottom, 15px, 9px, $lightblue);
			content: ' ';
			display: block;
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			@include breakpoint($ipad-portrait) {
				left: 57.5%;
			}
			margin-left: -7px;
			margin-top: -12px;
		}
		#marketSlideshow {
			@include clear;
			width: 121%;
			white-space: nowrap;

			.slide {
				width: 19%;
				padding: 0;
				margin: 0 -17px;
				display: inline-block;
				vertical-align: middle;
				@include border-radius(70px);
				overflow: hidden;
				position: relative;
				z-index: 1;
				.label {
					font-weight: bold;
					font-size: 8px;
					line-height: 1em;
					@include breakpoint($iphone-landscape){
						font-size: 10px;
					}
					color: $white;
					text-align: center;
					position: absolute;
					bottom: 0;
					background-color: $navReallyLightBlue;
					width: 100%;
					height: 50%;
					padding-top: 10px;
					display: block;
					SPAN {
						font-size: 34px;
						display: none;
						@include breakpoint($ipad-portrait){
							display: block;
						}
					}
					label {
						display: inline-block;
						@include force-wrap;
						position: relative;
					}
				}
				.copy {
					display: none;
				}
				&:nth-child(2), &:nth-child(4) {
					width: 26%;
					@include border-radius(100px);
					z-index: 2;
					.label {
						font-size: 8px;
						@include breakpoint($iphone-landscape){
							font-size: 10px;
						}
						@include breakpoint($ipad-portrait){
							font-size: 12px;
						}
						@include breakpoint($ipad-landscape){
							font-size: 17px;
						}
						background-color: $navReallyLightBlue;
						SPAN {
							font-size: 34px;
						}
					}
				}
				&:nth-child(3) {
					width: 31%;
					@include border-radius(130px);
					z-index: 3;
					.label {
						font-size: 8px;
						@include breakpoint($iphone-landscape){
							font-size: 15px;
						}
						@include breakpoint($ipad-portrait){
							font-size: 17px;
						}
						@include breakpoint($ipad-landscape){
							font-size: 21px;
						}
						background-color: $lightblue;
						SPAN {
							font-size: 50px;
							padding-top: 5px;
						}
					}
				}
				&:nth-child(n+5) {
					display: none;
				}
				IMG {
					width: 100%;
				}
			}

			&.full {
				.slide {
					&:nth-child(5) {
						display: inline-block;
					}
					&:nth-child(n+6) {
						display: none;
					}
				}
			}
		}
	}
}

body {
	#marketContainer.wide {
		&:after {
			left: 50%;
		}
	}
	@include breakpoint($ipad-portrait){
		#marketContainer.wide {
			#marketWrap {
				#marketSlideshow {
					width: 100%;
				}
				&:before {
					left: 50%;
				}
				&:after {
					left: 50%;
				}
			}
			#marketNav {
				.marketPrev, .marketNext {
					width: 54px; 
					height: 54px;
					margin-top: -39px;
					&:before {
						top: 16px;
						left: 19px;
						font-size: 30px;
					}
				}
				.marketPrev {
					left: -27px;
				}
				.marketNext {
					right: -27px;
				}
			}
			#marketSlideshow {
				width: 121%;
			}
		}
	}
}

#marketContent { 
	font-size: 18px;
	line-height: 22px;
	@include breakpoint($ipad-portrait) { 
		font-size: 24px;
		line-height: 28px;
	}
	color: $black; 
	text-align: center;
	padding: 20px 20px 0;
	STRONG {
		font-weight: bold;
		color: $blue;
	}
	A {
		font-size: 17px;
		font-weight: bold;
		line-height: 18px;
		margin-top: 20px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#iconBar {
	@include clear;
	> DIV {
		text-align: center;
		&:first-child {
			border-left: none;
		}
	}
	&.small {
		A {
			font-size: 11px;
			line-height: 14px;
		}
	}
	A {
		@include borderBoxModel;
		margin-top: 15px;
		display: block;
		background-color: $gray;
		padding: 16px;
		font-size: 15px;
		line-height: 18px;
		color: $blue;
		text-decoration: none;
		min-height: 120px;
		text-align: center;
		float: left;
		// width: 93%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		&:before {
			font-size: 45px;
			display: block;
			margin-bottom: 5px;
		}
		&:hover {
			background-color: #e3e3e4;
		}
		STRONG {
			font-weight: bold;
		}
		&.icon-webshop{
			color: $orange;
		}
		&:after {
			@include clear;
		}
	}
	@mixin iconBarEnd {
		margin-right: 0;
		&:after {
			@include clear;
		}
	}
	// @include breakpoint($iphone-landscape) {
	// 	A {
	// 		width: 90%;
	// 	}
	// }
	@include breakpoint(pxtoem(1000px)) {
		@include with-grid-settings($gutter: 0.2em) {
			&[data-items="5"] {
				A {
					@include span-columns(2, 10);
					&:nth-child(5n) {
						@include iconBarEnd;
					}
				}
			}	
			&[data-items="4"] {
				A {
					@include span-columns(3, 12);
					&:nth-child(4n) {
						@include iconBarEnd;
					}
				}
			}
			&[data-items="3"] {
				A {
					@include span-columns(4, 12);
					&:nth-child(3n) {
						@include iconBarEnd;
					}
				}
			}
			&[data-items="2"] {
				A {
					@include span-columns(6, 12);
					&:nth-child(2n) {
						@include iconBarEnd;
					}	
				}
			}
		}
	}
}

#home {
	margin-bottom: 15px;
	@include clear;
	.callout {
		font-size: 19px;
		font-weight: bold;
		line-height: 22px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		&.left {
			A {
				color: $white;
				text-decoration: none;
				&:hover {
					color: $blue;
					.block {
						color: $blue;
					}
					.icon {
						background-color: $blue;
					} 
				}
			}
			// .block {
			// 	left: 0;
			// 	color: $white;
			// }
		}
		&.right {
			A {
				color: $white;
				text-decoration: none;
				&:hover {
					color: $orange;
					.block, H4 {
						color: $orange;
					}
					.icon {
						background-color: $orange;
					}
				}
			}
			// .block {
			// 	right: 0;
			// 	color: $white;
			// }
		}
		IMG {
			width: 100%;
		}
		.block {
			top: 0;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.6);
			color: $darkGray;
			width: 96%;

			H4 {
				font-size: 60px;
				line-height: 60px;
				color: $white;
				margin: 0;
			}
		}
	}
	#news {
		background-color: $gray;
		padding: 5px;
		STRONG {
			font-weight: bold;
			color: $blue;
		}
		.sort {
			font-size: 17px;
			line-height: 26px;
			A {
				color: $blue;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		UL {
			counter-reset: news-counter;
			LI {
				border-top: 1px solid $black;
				padding: 10px 25px;
				color: $black;
				position: relative;
				&:before {
					position: absolute;
					left: 5px;
					top: 17px;
					font-size: 22px;
					font-weight: bold;
					color: $blue;
					content: counter(news-counter);
					counter-increment: news-counter;
				}
				A {
					color: $blue;
				}
			}
		}
	}
	#iconBar {
		display: block;
		A {
			display: block;
			border-left: none;
			margin-top: 20px;
		}
	}
}

#inner {
	@include clear;
	margin-top: 35px;
	@include breakpoint($ipad-landscape) {
		margin-top: 15px;
	}
	position: relative;
	&:before {
		width: 100%;
		height: 10px;
		left: -940px;
		top: -25px;
		background-color: $white;
		position: absolute;
	}
	&:after {
		width: 200%;
		height: 10px;
		left: 20px;
		top: -25px;
		background-color: $white;
		position: absolute;
	}
	#leftNavigation {
		display: none;
		@include breakpoint($ipad-portrait) { 
			@include span-columns(2,12);
			display: inline;
		}
		margin-top: 10px;
		margin-bottom: 15px;
		> UL {
			margin-top: 5px;
			> LI {
				@include adjust-font-size-to(14px);
				line-height: 16px;
				padding: 10px 0;
				border-bottom: 1px solid $leftNavBorder;
				&:last-child {
					border: none;
				}
				> A {
					color: $black;
					text-decoration: none;
					display: block;
					position: relative;
					padding-left: 10px;
					&:hover {
						text-decoration: underline;
					}
				}

				&.subnav {
					> A {
						&:before {
							display: block;
							content: ' ';
							position: absolute;
							top: 2px;
							right: 2px;
							@include transition(transform .25s ease-in-out);
							@include triangle(right, 8px, 13px, $blue);
						}
					}
					&:hover {
						> A {
							color: $blue;
							&:before {
								@include rotate(90deg);
								// top: 5px;
								// @include triangle(bottom, 13px, 8px, $blue);
							}
						}
						UL {
							display: block;
						}
					}

					> UL {
						LI {
							font-size: 0.9em;
						}
					}
				}

				&.selected {
					> A {
						font-weight: bold;
						color: $blue;
						&:before {
							top: 5px;
							@include transition(height .25s ease-in-out);
							@include triangle(bottom, 13px, 8px, $blue);
						}
					}
					&:hover {
						> A {
							&:before {
								@include rotate(0deg);
							}
						}
					}
					UL {
						display: block;
					}
				}

				////////////////////////////////////////////////
				// Sub menu items
				> UL {
					display: none;
					margin-top: 5px;
					> LI {
						@include adjust-font-size-to(14px);
						line-height: 16px;
						padding: 5px 0;
						&.selected {
							> A {
								font-weight: bold;
								color: $blue;
							}
						}
						&:hover {
							color: $white;
							background-color: $navReallyLightBlue;

							> A {
								color: $white;
								background-color: $navReallyLightBlue;
							}
						}
						> A {
							color: $black;
							text-decoration: none;
							display: block;
							position: relative;
							padding-left: 10px;
						}
					}
				}
			}
		}

	}
	#innerContent {
		margin-bottom: 15px;
		&:before, &:after{
	        content:"";
	        display:block; 
	        width:21px;
	        height:10px;
	        position:absolute;
	        top:-25px;
	        left:14px;
	        margin-left:-1em;
	        font-size: 14px;
		}
	    &:after{
	        width:0;
	        height:0;
	        border:10px solid;
	        border-color:transparent $white $white $white;
	    }
	    #innerCallouts {
		    // @include breakpoint($ipad-portrait){
		    // 	width: 31.1%;
		    // }
	    	margin-top: 0;
	    }
	    @include breakpoint($ipad-portrait) {
	    	.three-fourth {
		    	margin-bottom: 15px;
		    }
	    }
		A {
			color: $blue;
		}
		STRONG {
			font-weight: bold;
		}
		EM {
			font-style: oblique;
		}

		.widgetBody {
			I {
				font-style: italic;
			}
			B {
				font-weight: bold;
			}
			U {
				text-decoration: underline;
			}
			UL {
				display: block;
				list-style-type: disc;
				LI {
					margin: 0 0 1em 1em;
					display: list-item;
				}
			}
			P {
				IMG {
					display: inline;
				}
			}

			.map-filter {
				@include clearfix;
				display: block;
				background-color: $mapgray;
				font-size: 13px;
				padding: 1em;

				.types {
					float: left;
					width: 35%;
					label {
						display: block;
						font-size: 1.2em;
						line-height: 1em;
						color: $darkblue;

						&:nth-child(2n) {
							color: $red;
						}

						&.selected {
							font-weight: bold;
						}
					}
				}
				.filters {
					font-size: inherit;
					float: left;
					width: 65%;

					select {
						font-size: inherit;
						padding: 0.4em;
						min-width: 30%;
						max-width: 35%;
						background-color: $maplightgray;
						color: $black;
						border: none;
						@include border-radius(0);
					}
				}
			}
			#map {
				display: block;

				.leaflet-bar {
					border: none;
					@include border-radius(0);
					background: transparent;

					A {
						background-color: $darkblue;
						color: $white;
						@include border-radius(0);

						&:hover {
							background-color: $white;
							color: $darkblue;
						}

						&:first-child {
							margin-bottom: 6px;
						}

						&.leaflet-control-zoom-in, &.leaflet-control-zoom-out {
							opacity: 1.0;
							background-image: url('../../images/common/icons-ffffff.png');

							&:hover {
								background-image: url('../../images/common/icons-000000.png');
							}
						}
					}
				}

				.leaflet-popup-content-wrapper {
					@include border-radius(1em);

					.leaflet-popup-content {
						padding: 1em;

						.popupContent {
							@include clearfix;

							.type-distributor {
								h4, a {
									color: $red;
								}
							}

							.title {
								display: block;
								float: left;
								width: 30%;
								margin-right: 5%;
							}
							.summary {
								display: block;
								float: left;
								width: 65%;

							}
						}
					}
				}
			}
		}

		// LI {
		// 	position: relative;
		// 	padding: 10px 0 0 20px;
		// 	&:before {
		// 		position: absolute;
		// 		top: 13px;
		// 		left: 3px;
		// 		content: ' ';
		// 		display: block;
		// 		@include triangle(right, 6px, 11px, $blue);
		// 	}
		// }
		#breadcrumbs {
			@include adjust-font-size-to(12px);

			margin: 0 0 15px;

			A {
				color: $blue;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		#pagination {
			@include adjust-font-size-to(12px);
			padding-top: 20px;
			clear: both;
			.prev, .next {
				width: 22px;
				height: 22px;
				@include border-radius(11px);
				border: 1px solid $blue;
				position: relative;
				display: inline-block;
				background-color: $blue;
				vertical-align: bottom;
				&:before {
					font-size: 14px;
					display: block;
					color: $white;
					position: absolute;
					top: 3px;
					left: 7px;
				}
				&.inactive {
					@include opacity(0.5);
					cursor: default;
					&:hover {
						background-color: $blue;
						&:before {
							color: $white;
						}
					}
				}
				&:hover {
					background-color: $white;
					&:before {
						color: $blue;
					}
				}
			}
			.prev {
				margin-right: 5px;
				&:before {
					content: '\003c';
				}
			}
			.next {
				margin-left: 5px;
				&:before {
					content: '\003e';
				}
			}
		}
		#featuredEvent {
			H1 {
				font-size: 17px;
				line-height: 22px;
				font-weight: bold;
				color: $white;
				background-color: $blue;
				padding: 5px 10px;
				margin: 5px 0 0;
			}
			.months {
				font-size: 17px;
				line-height: 22px;

				.highlight {
					font-weight: bold;
				}
			}
		}
		#events {
			.item {
				color: $black;
				position: relative;
				padding: 10px 20px 10px 0;
				border-top: 1px solid $black;
				STRONG {
					color: $blue;
				}
				&:before {
					color: $blue;
					position: absolute;
					top: 10px;
					right: 0;
					font-size: 36px;
				}
			}
		}
		#expertView {
			margin-top: 5px;
			H3 {
				border-bottom: none;
			}
			H4 {
				background-color: $blue;
				color: $white;
				padding: 5px 10px;
				margin: 0;
			}
			LI, .item {
				padding: 10px 0 !important;
				margin: 0 10px;
				border-top: 1px solid $black;
				&:first-child {
					border-top: none;
				}
			}
		}
		#conversations {
			UL.tabs {
				LI {
					&:before {
						display: none;
					}
					border: none;
					padding: 0 !important;
					display: inline-block;
					text-decoration: underline;
					cursor: pointer;
					margin: 0 5px 0 0;
					&.selected {
						font-weight: bold;
						cursor: default;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			.hide {
				display: none;
			}
			#facebookFeed, #twitterFeed {
				font-size: 12px;
				line-height: 14px;
				color: $black;
				overflow: hidden;
				LI {
					&:before {
						display: none;
					}
					margin: 0;
					padding-left: 45px !important;
				}
				P {
					margin: 0;
				}
			}
			#facebookFeed {
				LI {
					background: url(/library/images/common/facebook-logo.png) center left no-repeat;
				}
				A {
					color: #3b579d;
				}
			}
			#twitterFeed {
				LI {
					background: url(/library/images/common/twitter-logo.png) center left no-repeat;
				}
				A {
					color: $mediumblue;
				}
				.interact {
					A {
						color: $black;
						margin-right: 10px;
					}
				}
			}
		}
		#accordion {
			clear: both;
			font-size: 14px;
			line-height: 16px;
			color: $black;
			STRONG {
				color: $blue;
			}
			.toggle {
				border-top: 1px solid $black;
				padding: 5px 0;
				cursor: pointer;
				&.first {
					border-top: none;
				}
				.icon {
					position: relative;
					float: right;
					display: inline-block;
					background-color: $blue;
					@include border-radius(10px);
					width: 16px;
					height: 16px;
					&:after {
						position: absolute;
						top: 6px;
						left: 3px;
						content: ' ';
						display: block;
						@include triangle(bottom, 11px, 6px, $white);
					}
				}
				&.selected {
					.icon {
						@include rotate(180deg);
					}
				}
			}
			.expandable {
				display: none;
				padding: 10px 0;
				@include clearfix;
			}
		}
		#articleList {
			padding-bottom: 10px;
			background-color: $gray;
			.item {
				padding: 10px 10px 0 10px;
				overflow: hidden;
				IMG {
					@include span-columns(2,6);
				}
			}
		}
		#packageList {
			@include clear;
			.callout {
				margin: 10px 0;
				@include breakpoint($ipad-portrait) { 
					@include span-columns(3,6);
					.block {
						min-height: 119px;
					}
					&.omega {
						@include omega;
					}
				}
				H4 {
					font-weight: normal;
					margin: 0;
					A {
						text-decoration: none;
					}
				}
				LI {
					margin: 0;
					padding-top: 0;
					&:before {
						top: 3px;
					}
				}
				.block {
					background-color: #bfc8cd;
				}
			}
		}

		.callout-group {
			@include clear;

			> div {
				@include span-columns(12 omega,12);

				@include breakpoint($ipad-portrait) { 
					@include span-columns(6,12);
					&:nth-child(2n) {
						@include omega;
					}
				}

				p {
					a {
						text-decoration: none;
					}
				}
			}
		}

		@mixin featuredListCallout {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			color: $white;
			.block {
				background: transparent;
			}
			H4 {
				font-size: 17px;
				font-weight: bold;
				line-height: 19px;
				color: $white;
				margin: 0;
			}
			A {
				color: $white;
			}
			IMG {
				width: auto;
			}
		}

		#featuredList {
			@include clear;
			.callout {
				@include breakpoint($ipad-portrait) { 
					@include span-columns(3,6);
					min-height: 153px;
					margin: 5px;
					&.omega {
						@include omega;
					}
				}
				@include featuredListCallout;
			}
		}
		.one-half #featuredList .callout {
			@include breakpoint($ipad-portrait) { 
				@include span-columns(3,6);
				min-height: 171px;
				margin: 1%;
				&.omega {
					@include omega;
					margin-right: 0;
				}
			}
			@include featuredListCallout;
		}

		#timeline {
			position: relative;
			overflow: hidden;
			background-color: $gray;
			&:before {
				background: $blue;
				content: ' ';
				display: block;
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 5px;
				top: 50%;
				left: 0;
				margin-top: -2px;
			}
			> A {
				position: absolute;
				bottom: 20px;
				right: 20px;
			}
			UL {
				padding: 35px 0 0;
				LI {
					margin: 0;
					padding: 0;
					display: inline-block;
					vertical-align: top;
					width: 32%;
					&:before {
						display: none;
					}
					.date {
						font-size: 40px;
						line-height: 40px;
						color: $blue;
						font-weight: bold;
						display: block;
						padding: 20px;
						IMG {
							width: 35%;
							float: right;
						}
					}
					.copy {
						display: block;
						color: $black;
						padding: 20px;
					}
				}
			}
		}
		#form {
			@include clear;
			background-color: $gray;
			padding: 20px;
		}
		&.three-col {
		    @include breakpoint($ipad-portrait) { 
				@include span-columns(7,12);
				&.omega {
					@include omega;
				}
			}
		}
		&.two-col {
		    @include breakpoint($ipad-portrait) { 
				@include span-columns(10,12);
				&.omega {
					@include omega;
				}
			}
		}
		&.one-col {
		    @include breakpoint($ipad-portrait) { 
				@include span-columns(9,12);
				&.omega {
					@include omega;
				}
			}
		}
		.omega {
			@include breakpoint($ipad-portrait) { 
				@include omega;
			}
		}
		.case-study {
			font-size: 14px;
			line-height: 20px;
			A {
				text-decoration: none;
				font-weight: bold;
				&:hover {
					text-decoration: underline;
				}
			}
			IMG {
				width: auto;
				margin: 0 10px 0 0;
				float: left;
			}
		}
	}
	#innerCallouts {
		@include clear;
		@include breakpoint($ipad-portrait) { 
			@include span-columns(3 omega,12);
		}
		margin-top: 10px;
		margin-bottom: 15px;
		A {
			color: $blue;
		}
		IMG {
			width: 100%;
		}
		.form-item {
			margin-top: 10px;
		}
		// .calloutVideo {

		// 		font-size: 14px;
		// 		line-height: 16px;
		// 		background-position: center center;
		// 		background-repeat: no-repeat;
		// 		background-size: cover;
		// 		position: relative;
		// 		color: $white;
	
		// 	.block {
		// 			background: transparent;
		// 			IMG {
		// 				margin: 10px 0;
		// 			}
		// 			H4 {
		// 				font-size: 17px;
		// 				font-weight: bold;
		// 				line-height: 19px;
		// 				color: $white;
		// 				margin: 0;
		// 			}
		// 			.playIcon {
		// 				width: 3em;
		// 			}
		// 			A {
		// 				color: $white;
		// 			}
		// 		}
		// }
		.callout {
			.datepicker {
				width: 100%;
				padding: 0 10px 10px 0;
				.ui-datepicker {
					width: 100%;
				}
			}
			font-size: 14px;
			line-height: 16px;
			STRONG {
				font-weight: bold;
			}
			// .document-list {
			// 	LI {
			// 		background: url(/library/images/common/list-icon.png) center left no-repeat;
			// 		padding: 4px 0 4px 25px;
			// 		&:before {
			// 			display: none;
			// 		}
			// 		A {
			// 			font-weight: bold;
			// 		}
			// 	}
			// }
			// .downloads-list {
			// 	LI {
			// 		background: url(/library/images/common/downloads-icon.png) center left no-repeat;
			// 		list-style: none;
			// 		padding: 6px 0 6px 40px;
			// 		margin: 0;
					
			// 		&:before {
			// 			display: none;
			// 		}
			// 		A {
			// 			font-size: 12px;
			// 			line-height: 14px;
			// 			color: $black;
			// 		}
			// 	}
			// }
			.block {
				background-color: $gray;
				padding: 10px;
				.bg {
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					padding: 10px;
					color: $white;
					H4 {
						font-size: 26px;
						line-height: 30px;
						color: $white;
						margin: 20px 0 0;
					}
					p, content {
						color: $white;
					}
					A {
						color: $white;
						text-decoration: none;
						&:hover {
							color: $mediumblue;
							.block, H4, content, p {
								color: $mediumblue;
							}
							.icon {
								background-color: $mediumblue;
							}
						}
					}
				}
				IMG {
					margin: 10px 0;
				}
				.callout-event {
					border-top: 1px solid #464646;
					padding: 10px 20px 10px 0;
				}
			}
			.case-study {
				line-height: 18px;
				A {
					text-decoration: none;
					font-weight: bold;
				}
				IMG {
					width: auto;
					margin: 0 30px 0 0;
					float: left;
				}
			}
		}
	}
}

.news-list{
    #accordion .icon{        
        margin: 0 0 2em 1em;
    }
}

.document-list {
	LI {
		background: url(/library/images/common/list-icon.png) center left no-repeat;
		padding: 4px 0 4px 25px;
		list-style: none;
		
		&:before {
			display: none;
		}
		A {
			font-weight: bold;
		}
	}
}
.downloads-list {
	LI {
		background: url(/library/images/common/downloads-icon.png) center left no-repeat;
		background-size: 10%;
		list-style: none;
		padding: 6px 0 6px 40px;
		margin: 0;
		
		&:before {
			display: none;
		}
		A {
			font-size: 12px;
			line-height: 14px;
			color: $black;
		}
	}
}

#inner #innerContent .calloutVideo {

		font-size: 14px;
		line-height: 16px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		color: $white;

	.block {
			background: transparent;
			IMG {
				margin: 10px 0;
			}
			H4 {
				font-size: 17px;
				font-weight: bold;
				line-height: 19px;
				color: $white;
				margin: 0;
			}
			.playIcon {
				width: 3em;
			}
			A {
				color: $white;
			}
		}
}

#footer {
	clear: both;
	@include clear;
	padding: 20px 0;
	border-top: 1px solid #95a3ab;
	background-color: #ffffff; // Old browsers
	@include filter-gradient(#ececec, #ffffff, vertical); // IE6-8
	@include background-image(linear-gradient(top,  #ececec 0%,#ffffff 100%));
	UL {
		display: none;
		@include breakpoint($ipad-portrait){
			@include span-columns(2,12);
			display: inline;
		}
		
		&.social {
			display: block;
			@include breakpoint($ipad-portrait){
				@include span-columns(2 omega,12);
				display: inline;
			}
			LI {
				display: block;
				+ LI {
					text-align: center;
					A {
						display: inline-block;
						width: 10%;
					}
					@include breakpoint($ipad-portrait){
						text-align: left;
						A {
							width: auto;
						}
					}
				}
			}
		}
		LI {
			@include adjust-font-size-to(11px);
			line-height: 13px;
			margin: 2px 0;
			&:first-child {
				display: block;
				A {
					font-weight: bold;
					color: $blue;
				}
			}
			A {
				text-decoration: none;
				display: inline-block;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.dropzone-label {
	color: $blue;
	display: block;
	font-size: 1.2em;
	padding: 0.6em;
	margin: 0 0 0.6em;
	border: 1px solid $blue;
}

.form-validation {
	color: $red;
	display: block;
	font-size: 1.1 em;
	padding-top: 0.4em;
}

// Fix for centering problem in IE8 caused by too many wrapping PB tags.
.lt-ie9 {
    div.PBViewing,
    .columnwidgetlist,
    li.PBItem,
    div.widget {
        width: 100%;
    }
    div.widget {
        > div {
            width: 100%;
        }
        div.content {
            width: 100%;
        }
    }
}

.keywordSearch {
	padding: 10px;
	background-color: $gray;
	overflow: hidden;
	.ip {
		width: 95%;
	}
	A {
		.icon {
			position: absolute;
			top: 2px;
			right: 2px;
			@include border-radius(10px);
			width: 16px;
			height: 16px;
			&:after {
				position: absolute;
				top: 6px;
				left: 3px;
				content: ' ';
				display: block;
				@include triangle(bottom, 11px, 6px, $white);
				z-index: 1;
			}
		}
		.icon-right {
			position: absolute;
			background-color: $orange;
			right: 2px;
			@include border-radius(10px);
			width: 16px;
			height: 16px;
			&:after {
				position: absolute;
				top: 3px;
				left: 6px;
				content: ' ';
				display: block;
				@include triangle(right, 6px, 11px, $white);
				z-index: 1;
			}
		}
	}
	.primary {
		.section {
			display: none;
		}
		.callout & {
			width:100%;
			A{
				span:last-child {
					display: inline-block;
					width: 80%;
				}
			}
		}
		A {
			display: block;
			color: $black !important;
			text-decoration: none;
			background-color: #ffffff; // Old browsers
			@include filter-gradient(#ececec, #ffffff, vertical); // IE6-8
			@include background-image(linear-gradient(top,  #ececec 0%,#ffffff 100%));
			padding: 5px;
			margin: 5px 0;
			position: relative;
			.icon {
				top: 5px;
				right: 6px;
			}
			&:hover, &.selected {
				color: $white !important;
				@include filter-gradient(#95a3ab, #95a3ab, vertical);
				background: #95a3ab !important;
			}
			&.selected .icon:after {
				top: 3px;
				left: 6px;
				content: ' ';
				display: block;
				@include triangle(right, 6px, 11px, $white);
			}
		}
	}
	.secondary {
		A {
			color: $black !important;
			border-bottom: 1px solid $black;
			text-decoration: none;
			display: block;
			padding: 2px;
			position: relative;
			&:hover {
				color: $white !important;
				background: #95a3ab !important;
			}
		}
	}
}

#contentList {
	padding-bottom: 10px;
	.item {
		padding: 10px 10px 10px 0;
		border-bottom: 1px solid $blue;
		overflow: hidden;

		IMG {
			@include span-columns(2,6);
		}

		.content{
			@include span-columns(4 omega, 6);
		}

		H2 {
			padding: 8px 0 4px 0;
		}
	}
}

#expertView {
	H3 {
		border-bottom: none;
	}
	H4 {
		background-color: $blue;
		color: $white;
		padding: 5px 10px;
		margin: 0;
	}
	LI, .item {
		padding: 10px 0 !important;
		margin: 0 10px;
		border-top: 1px solid $black;
		&:first-child {
			border-top: none;
		}
	}

	#feedList {
	padding-bottom: 10px;
	background-color: $gray;
		.item {
				padding: 10px 10px 0 10px;
				overflow: hidden;
				IMG {
					@include span-columns(2,6);
				}
				STRONG {
					font-weight: bold;
					color: $blue;
				}
			}
		A.showmore {
			display: block;
			text-align: center;
			font-weight: bold;
		}
	}
}

#conversations {
	UL.tabs {
		LI {
			&:before {
				display: none;
			}
			border: none;
			padding: 0 !important;
			display: inline-block;
			text-decoration: underline;
			cursor: pointer;
			margin: 0 5px 0 0;
			&.selected {
				font-weight: bold;
				cursor: default;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.hide {
		display: none;
	}
	#facebookFeed, #twitterFeed {
		font-size: 12px;
		line-height: 14px;
		color: $black;
		overflow: hidden;
		LI {
			&:before {
				display: none;
			}
			margin: 0;
			padding-left: 45px !important;
		}
		P {
			margin: 0;
		}
	}
	#facebookFeed {
		LI {
			background: url(/library/images/common/facebook-logo.png) center left no-repeat;
		}
		A {
			color: #3b579d;
		}
	}
	#twitterFeed {
		LI {
			background: url(/library/images/common/twitter-logo.png) center left no-repeat;
		}
		A {
			color: $mediumblue;
		}
		.interact {
			A {
				color: $black;
				margin-right: 10px;
			}
		}
	}
}

#inner #innerContent #sitemap {
	margin-top: 10px;
	#mapBlock {
		display:block;
		vertical-align: text-top;
		padding-right: 6em;

		> LI {
			&.webshop {
				color: $orange;
				A {
					color: $orange;
				}
			}
		}
	}

	.subnav {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
		list-style-type: none;
		A {
			text-decoration: none;
		}
		A:hover {
			text-decoration: underline;
			color: $lightblue;
		}
	}

	UL.nav {
		> LI {
			&.webshop {
				color: $orange;
				A {
					color: $orange;
				}
			}
		}
	}

	.item{
		font-weight: normal;
		font-size: 14px;
		background-image: url(/library/images/common/dot.jpg);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 8px;
		&:first-child {
					padding-top: 5px;
				}
	}
}

.form-heading {
	display: none;
}

#myAccountFavorites {
    .featuredPages {
        li {
            margin-top: 10px;
        }
    }

    #favoriteActions {
          margin: 30px 0px 30px 0px;
    }
}

#myAccountProperties {
    li {
        line-height: 20px;
    }
}

#myAccountMenu {
    li {
        line-height: 24px;
    }
}

table.regionalFeeds {
    width: 100%;
    margin-bottom: 20px;

    th {
        font-weight: bold;
        padding-bottom: 5px;
    }

    td {
        padding-bottom: 10px;

        input[type='text'] {
            width: 100%;
        }
    }
}

div.regionalFeedActions {
    text-align: right;
}

ul.regionalNewsItems {
    background-color: #f4f4f5;
    list-style-type: none;
    padding: 3px;

    .regionalNewsItem {
        padding: 5px 0px;
        margin: 0px;
        border-top: 1px solid #464646;
     
        strong {
            color: #003554;
        }
    }

    li:first-child { border: none; }
}