﻿
div.Widget
{
	overflow:auto;
}

div.Edit
{
	overflow: visible;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	min-width: 31em;
	width: auto !important;
	width: 31em;	
}

div.Special
{
	overflow: visible;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
    color: #ff0000;
	min-width: 31em;
	width: auto !important;
	width: 31em;	
}

div.Item
{
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

div.site-container{
	max-width: 940px;
	margin:0 auto;

	background-color: gray;
	margin-top: 0;
}

.iframe-container {
	max-width:840px;
	margin:0 auto;
}

iframe {
	width: 100%;
	border: none;
}