﻿/* Search Results Control Styles
----------------------------------*/

.isearch .ektron-ui-search .basicSearch { text-align:left; }

.isearch .ektron-ui-search-results {}

.isearch .ektron-ui-search-results .results {list-style: none; padding: 0; margin: 1em 0 0 0;}
.isearch .ektron-ui-search-results .results .result {margin-bottom: 1em;list-style: none;}
.isearch .ektron-ui-search-results .results .result .title {margin: 0; padding: 0;}
.isearch .ektron-ui-search-results .results .result .summary {}
.isearch .ektron-ui-search-results .results .result .url {}
.isearch .ektron-ui-search-results .results .result .date {}
.isearch .ektron-ui-search-results .results .result .avatar {float:left; margin-right: 1em;}
.isearch .ektron-ui-search-results .results .result .resultsInfo {float:left; width: 50%; margin-right: 1em;}
.isearch .ektron-ui-search-results .results .result .prices {float: left; list-style: none; margin: 0 0 1em 1em;}
.isearch .ektron-ui-search-results .results .result .comment {color:#497d32;}
.isearch .ektron-ui-search-results .results .result .quicklink {}
.isearch .ektron-ui-search-results .results .result img.resulticon {margin-right:0.125em;}
.isearch .ektron-ui-search-results .results .resultsHeader {margin-bottom:0.5em; font-weight:bold;}

.isearch .ektron-ui-search-results .suggested-results {list-style: none; padding:1em .5em 0em .5em; margin: 1em 0 0 0;
                                                       background-color: #FFFFD8; border: 1px solid silver;}
.isearch .ektron-ui-search-results .suggested-results h3.suggested-results-header {float:right;font-weight:normal;color:#4c4c4c;font-size:1em;margin:0em;padding:0em;}


.isearch .toggleAdvancedSearchWrapper {display:none;}

