﻿/* Search Results Control Styles
----------------------------------*/

.workareaProductSearch .ektron-ui-search .basicSearch { text-align:left; padding-left: 1em; padding-top: 1em; }

.workareaProductSearch .ektron-ui-search-results {}
.workareaProductSearch .ektron-ui-search-results .results {list-style: none; padding: 0; margin: 1em 0 0 0;}
.workareaProductSearch .ektron-ui-search-results .results .result {margin-bottom: 1.5em;list-style: none;}
.workareaProductSearch .ektron-ui-search-results .results .result .title {margin: 0; padding: 0;font-weight:bold;}
.workareaProductSearch .ektron-ui-search-results .results .result .summary {}
.workareaProductSearch .ektron-ui-search-results .results .result .url {}
.workareaProductSearch .ektron-ui-search-results .results .result .productId {}
.workareaProductSearch .ektron-ui-search-results .results .result .date {}
.workareaProductSearch .ektron-ui-search-results .results .result .avatar {float:left; margin-right: 1em;}
.workareaProductSearch .ektron-ui-search-results .results .result .resultsInfo {float:left; width: 50%; margin-right: 1em;}
.workareaProductSearch .ektron-ui-search-results .results .result .prices {float: left; list-style: none; margin: 0 0 1em 1em;}
.workareaProductSearch .ektron-ui-search-results .results .result .prices .listPriceLabel {text-decoration: line-through;}
.workareaProductSearch .ektron-ui-search-results .results .result .prices .listPrice {text-decoration: line-through;}
.workareaProductSearch .ektron-ui-search-results .results .resultsHeader {margin-bottom:1em; font-weight:bold;}

.workareaProductSearch .toggleAdvancedSearchWrapper {display:none;}