<%@ Control Language="C#" AutoEventWireup="true" CodeFile="personalization_widget_type.ascx.cs" Inherits="WidgetControls_widget_type" %>

        <asp:PlaceHolder ID="pnl" runat="server"></asp:PlaceHolder>