﻿div.ektron-ui-dataDumpTree {
	padding:0.25em;
}

.ektron-ui-dataDumpTree ul {
	list-style: none;
	padding-top: 0; 
	padding-left: 0.5em; 
	padding-right: 0; 
	padding-bottom: 0; 
	cursor: default;
}

.ektron-ui-dataDumpTree .title {
	 font-weight: bold;
	 font-size: larger;
	 color: Black;
}

.ektron-ui-dataDumpTree .property {
	padding-left: 0.5em;
	 font-weight: lighter;
	 font-size: smaller;
	 color:  #444444;
}
