﻿<%--<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SharePointTree.ascx.cs" Inherits="SharePointTree" %>

<ektronUI:Tree ID="uxSharePointTree" runat="server" SelectionMode="MultiForAll" />--%>