﻿.ektron-aloha-button.ektron-aloha-library-button {background-image:  url("../../../../../../../../../../images/silk/icons/book.png"); background-position: 0 center;}

.ektron-aloha-library-modal {width: 790px; display: none;}
.ui-dialog .ektron-aloha-library-modal {display: block; }
.ektron-aloha-library-modal-iframe {display: none;}
.ui-dialog .ektron-aloha-library-modal-iframe {border: solid 1px #D4D4D4; margin: auto; display: block;}

